﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <base href="@Html.Base()" />
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@(string.IsNullOrEmpty(ViewBag.SiteTitle) ? SiteClient.Settings[SiteProperties.SiteTitle] : ViewBag.SiteTitle)</title>
    @if (IsSectionDefined("metaContent"))
    {
        @RenderSection("metaContent")
    }
    else
    {
        <meta name="keywords" content="@SiteClient.Settings["MetaKeywords"]" />
        <meta name="description" content="@SiteClient.Settings["MetaDescription"]" />
    }
    <meta name="robots" content="ALL" />
    <meta name="rating" content="GENERAL" />
    <meta name="dcterms.audience" content="Global" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @Scripts.Render("~/bundles/jquery")
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#txtSearch").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Home/GetCountries/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#hfCustomer").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
    @if (!string.IsNullOrEmpty(SiteClient.TextSetting(SiteProperties.SiteFavIconFileName)))
    {
        if (!SiteClient.TextSetting(SiteProperties.SiteFavIconFileName).StartsWith("http"))
        {
            <link rel="shortcut icon" href="~/@SiteClient.TextSetting(SiteProperties.SiteFavIconFileName)" />
        }
        else
        {
            <link rel="shortcut icon" href="@SiteClient.TextSetting(SiteProperties.SiteFavIconFileName)" />
        }
    }
    else
    {
        <link rel="shortcut icon" href="~/favicon.ico" />
    }
 
    @Styles.Render("~/bundles/bootstrap_css")
    <link rel="stylesheet" type="text/css" href="Content/AWE_Bootstrap3.css">
    @*@Styles.Render("~/bundles/social_buttons_css")*@
    <script type="text/javascript">
        var rwx_SignalRDisabled = @((!SiteClient.BoolSetting(SiteProperties.SignalREnabled)).ToString().ToLower());
    </script>
    @*@if (SiteClient.DemoEnabled)
    {
        themeOptions = SiteClient.Properties.First(sp => sp.Field.Name == SiteProperties.CssTheme).Field.Enumeration;
        selectedTheme = Html.GetCookie("awe_demo_theme");
        if (themeOptions.Any(li => li.Name == selectedTheme))
        {
         
        }
        else if (SiteClient.EnableEvents)
        {
            
        }
        else
        {
            
        }
        <script type="text/javascript">
            $(document).ready(function () {
                $(".awe-demo-theme-selector").change(function () {
                    $.cookie('awe_demo_theme', $(this).val(), { path: '/', expires: 365 });
                    window.location.reload();
                });
                $(".awe-demo-theme-selector").val($.cookie('awe_demo_theme'));
                if ($(".awe-demo-theme-selector option:checked").length == 0) {
                    var firstOption = $(".awe-demo-theme-selector option:first");
                    $.cookie('awe_demo_theme', firstOption.attr("value"), { path: '/', expires: 365 });
                    firstOption.prop("selected", true);
                }
            });
        </script>

        
    }
    else if (!string.IsNullOrEmpty(SiteClient.TextSetting(SiteProperties.CssTheme)))
    {
        <link rel="stylesheet" type="text/css" href="Content/@SiteClient.TextSetting(SiteProperties.CssTheme)">
    }
    else if (SiteClient.EnableEvents)
    {
        
    }
    else
    {
        
    }*@
    <style type="text/css">
        .listing-badge:before {
            content: '@Html.GlobalResource("Listing_Badge_Text")';
        }

        @{
            string headingColor = SiteClient.Settings["HeadingColor"];
            bool centerlogo = bool.Parse(SiteClient.Settings["CenterLogo"]);
            @:.header-splash {background-color: @headingColor;}
            if (centerlogo)
            {
                @:.logo img{margin: 0 auto;}
            }
        }
    </style>
   
    @RenderSection("head", required: false)
    @Html.GetSiteContent("Literal_Header")

    @*<link href="~/ContentNew/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
    <link href="~/ContentNew/css/styles.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    @*<script src="~/ContentNew/js/jquery.js"></script>*@
    @*<script src="~/ContentNew/js/bootstrap.js"></script>*@

</head>
<body>



    @if (SiteClient.DemoEnabled)
    {
        @*@Html.Partial("DemoHeader")*@
        @Html.Partial("DemoMenu")
    }

    <section id="top-head">
        <div class="container padd-cut">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 padd-cut">
                @if (!SiteClient.DemoEnabled)
                {
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                        @*<a href=""><img src="@SiteClient.Settings["SiteLogoFileName"]" alt="" class="img-responsive" /></a>*@
                        <a href="@Html.Base()">
                            <picture>
                                <source sizes="100vw" srcset="@SiteClient.Settings["SiteLogoFileName"]" media="(min-width: 769px)" />
                                <source sizes="100vw" srcset="@SiteClient.Settings["MobileLogoFileName"]" media="(max-width: 768px)" />
                                <img src="@SiteClient.Settings["SiteLogoFileName"]" alt="@SiteClient.Settings["FriendlySiteName"]" class="img-responsive" />
                            </picture>
                        </a>
                    </div>
                }
                else
                {
                    string demoLogoFilename;
                    string demoMobileLogoFN;
                    if (SiteClient.EnableEvents)
                    {
                        demoLogoFilename = "AuctionWorxLogo31EV-240x40.png";
                        demoMobileLogoFN = "AuctionWorxLogo31EV-960x160.png";
                    }
                    else
                    {
                        demoLogoFilename = "AuctionWorxLogo31EN-240x40.png";
                        demoMobileLogoFN = "AuctionWorxLogo31EN-960x160.png";
                    }
                 
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12">
                        @*<img src="Content/Images/Logos/@demoLogoFilename" class="img-responsive">*@
                        <a href="@Html.Base()">
                            <picture>
                                <source sizes="100vw" srcset="@SiteClient.Settings["SiteLogoFileName"]" media="(min-width: 769px)" />
                                <source sizes="100vw" srcset="@SiteClient.Settings["MobileLogoFileName"]" media="(max-width: 768px)" />
                                <img src="@SiteClient.Settings["SiteLogoFileName"]" alt="@SiteClient.Settings["FriendlySiteName"]" class="img-responsive" />
                            </picture>
                        </a>
                    </div>
                }
                <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 hide-search-onmobile">

                    @using (Html.BeginForm("Search", "Listing", FormMethod.Get, new { }))
                    {
                        <div class="col-lg-8 col-sm-7 col-md-8 col-xs-6">

                            <div class="search-box-parent">
                                @*<input type="text" name="search" placeholder="Search.." class="search-box">*@
                                @*@Html.TextBox(Fields.FullTextQuery, null, new { @class = "search-box", @id = "FullTextQuery1", placeholder = Html.GlobalResourceString("EnterKeywords") })*@
                                @Html.TextBox(Fields.FullTextQuery, null, new { @class = "search-box", @id = "FullTextQuery1", placeholder = "What deal are you looking for?"})
                                <span><i class="fa fa-search" aria-hidden="true"></i></span>

                                @*<div class="input-group-btn" role="group">
                                        <button class="btn btn-default btn-sm" type="submit">@Html.GlobalResource("Search")</button>
                                    </div>*@
                            </div>

                        </div>
                        <div class="col-lg-4 col-sm-5 col-md-4 col-xs-6 padd-cut">
                            <div class="col-xs-9 padd-cut">
                                <div class="search-box-parent">
                                    <input type="hidden" id="hfCustomer" name="CustomerId" />
                                    @if (string.IsNullOrEmpty(Request.QueryString["search"]))
                                    {
                                        <input type="text" name="search" id="txtSearch" placeholder="Location" class="place-box">}
                                    else
                                    {
                                        <input type="text" name="search" id="txtSearch" placeholder="Location" value="@Request.QueryString["search"]" class="place-box">
                                    }


                                    <span>
                                        <img src="~/ContentNew/images/target.png" onclick="getGeoLocation()" />
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-3 padd-cut">
                                @*<a href="#" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>*@
                                <button class="search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>

                        </div>
                    }
                </div>
                <div class="">
                    @*<ul class="sign-list">
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Sign in</a></li>
                            <li><a href="#">Sell</a></li>
                        </ul>*@
                    <ul class="sign-list">
                        <li>@Html.Partial("LogOnUserControl")</li>
                        @if (!SiteClient.EnableEvents)
                        {
                            if (SiteClient.RestrictOutsideSellers)
                            {
                                if (Context.User.IsInRole("Seller"))
                                {
                                    <li>@Html.ActionLink(Html.GlobalResource("Sell"), MVC.CreateListingPage1Action, MVC.ListingController)</li>
                                }
                            }
                            else
                            {
                                <li>@Html.ActionLink(Html.GlobalResource("Sell"), MVC.CreateListingPage1Action, MVC.ListingController)</li>
                            }
                        }
                    </ul>
                    @if (Context.User.IsInRole("Admin"))
                    {
                        <div class="admin clearfix hidden-xs" style="position: initial;">
                            <a href="@Url.Action(MVC.IndexAction, MVC.AdminController)" class="btn btn-default">@Html.GlobalResource("GoToAdminControlPanel") <span class="glyphicon glyphicon-cog"></span> </a>
                            @if (!string.IsNullOrEmpty(Html.GetCookie(MVC.FBOUserName)))
                            {
                                @Html.ButtonLink(Html.GlobalResource("StopImpersonating"), MVC.StopImpersonatingAction, MVC.AccountController, null,
                        new { @class = "btn btn-danger" })
                            }
                        </div>
                    }
                </div>
                
            </div>
        </div>
    </section>
    <section id="mobile-search">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="col-lg-8 col-sm-8 col-md-8 col-xs-6">
                <div class="search-box-parent">
                    <input type="text" name="search" placeholder="Search.." class="search-box" />
                    <span><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>

            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-6 padd-cut">
                <div class="col-xs-9 padd-cut">
                    <div class="search-box-parent">
                        <input type="text" name="search" placeholder="Newyork" class="place-box" />
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="col-xs-3 padd-cut">
                    <a href="#" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="header">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="dropdown all-deal-drpdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                @Html.GlobalResource("Browse All Deals")
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style=" min-width: 1290px;">
                                <li>
                                    <ul class="menu-list nav nav-pills" style="max-height :300px;min-width :300px;overflow: auto;">
                                        <li>
                                            @Html.ActionLink(Html.GlobalResource("AllCategories"), MVC.IndexAction, MVC.ListingController)
                                        </li>
                                        @Html.Partial("CategoryNavigator", ViewData["CategoryNavigator"])
                                    </ul>
                                </li>
                                @if (bool.Parse(SiteClient.Settings[SiteProperties.EnableRegions]))
                                {
                                    <li class="divider"></li>
                                    <li>
                                        <ul class="menu-ist nav nav-pills">
                                            @Html.Partial("RegionNavigator", ViewData["RegionNagivator"])
                                        </ul>
                                    </li>
                                }
                            </ul>

                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            @*<li> <a href="@Html.Base()">@Html.GlobalResource("Home")</a></li>*@
                            <li> <a href="@Html.Base()"><span class="fa fa-home " style="font-size:21px"></span></a></li>
                            @Html.GetSiteContent("Literal_SubNavigation")
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </section>
    <section id="content-cstm">




        @*@{MvcHtmlString everypageContent = Html.GetSiteContent("SiteHeader");}
        @if (!MvcHtmlString.IsNullOrEmpty(everypageContent))
        {
            @everypageContent
        }
        <div class="awe-rt-SystemMessage">@Html.SystemMessages()</div>
        @RenderBody()*@
        <main>
            @RenderSection("Splash", required: false)
            <div class="container">
                @{MvcHtmlString everypageContent = Html.GetSiteContent("SiteHeader");}
                @if (!MvcHtmlString.IsNullOrEmpty(everypageContent))
                {
                    @everypageContent
                }
                <div class="awe-rt-SystemMessage">@Html.SystemMessages()</div>

                @RenderBody()

            </div>
        </main>


    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div id="Time" data-initial-dttm="@Html.CultureInvariantLocalDTTM(DateTime.UtcNow)"></div>
                    <!--<p>
                         <strong>
                             @Html.GlobalResource("QuestionContact")
                             @Html.ActionLink(Html.GlobalResource("ContactUs"), "Contact", "Home") &nbsp; &nbsp;
                             @Html.GlobalResource("BrowseFAQ")
                             @Html.ActionLink(Html.GlobalResource("FAQ"), "Help", "Home")
                         </strong>
                     </p>-->
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="footer__links">
                        @Html.ActionLink(Html.GlobalResource("Help"), "Help", "Home")
                        @Html.ActionLink(Html.GlobalResource("ContactUs"), "Contact", "Home")
                        @Html.ActionLink(Html.GlobalResource("About"), "About", "Home")
                        @Html.ActionLink(Html.GlobalResource("TermsAndConditions"), "Terms", "Home")
                        @Html.ActionLink(Html.GlobalResource("PrivacyPolicy"), "PrivacyPolicy", "Home")
                        @Html.ActionLink(Html.GlobalResource("SiteMap"), "Sitemap", "Home")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 currency">
                    @Html.Partial("RegionCurrencySelector")
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.GetSiteContent("SiteFooter")

                    @{ var siteNow = TimeZoneInfo.ConvertTime(DateTime.UtcNow, TimeZoneInfo.Utc, TimeZoneInfo.FindSystemTimeZoneById(SiteClient.SiteTimeZone)); }
                    <div class="footer__copyright">
                        @Html.GlobalResource("Copyright", SiteClient.Settings["LegalSiteName"], siteNow.Year) @Html.GlobalResource("CopyrightDisclaimer", SiteClient.Settings["LegalSiteName"])
                    </div>
                    @Html.Partial("SignalRHandler")
                </div>
            </div>
        </div>

    </footer>

    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            var aweUserName = "@User.Identity.Name.ToJavascriptSafeString()";
        </script>
    }
    else
    {
        <script type="text/javascript">
            var aweUserName = null;
        </script>
    }

    @Html.GetSiteContent("Literal_Footer")




    <link href="Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />@*Styles.Render("~/bundles/jqueryuicss")*@
    @Styles.Render("~/bundles/scrollup_css")
    @*@Styles.Render("~/bundles/bootstrap_dialog_css")*@
    @Scripts.Render("~/bundles/oldbrowser_js")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/masonry")
    @Scripts.Render("~/bundles/bootstrap_js")
    @Scripts.Render("~/bundles/jquery_scrollUp")
    @if (SiteClient.BoolSetting(SiteProperties.SignalREnabled))
    {
        @Scripts.Render("~/bundles/signalr")
        <script src="~/signalr/hubs"></script>
    }
    @Scripts.Render("~/bundles/AWE-signalr")
    @Scripts.Render("~/bundles/generalAJAX")
    @if (!(Html.GetCultureInfo().Calendar is System.Globalization.GregorianCalendar))
    {
        <script>disableDatePicker = true;</script>
    }
    @if (SiteClient.DemoEnabled)
    {
        @Scripts.Render("~/bundles/demojs")
    }

    @Scripts.Render("~/bundles/jquery-globalize")
    <script type="text/javascript">
        var timeZoneLabel = '@(SiteClient.BoolSetting(SiteProperties.ShowTimeZoneLabel) ? Html.TimeZoneAbbreviationString(SiteClient.SiteTimeZone) : string.Empty)';
        @{string effectiveCultureCode = null;}
        Globalize.load(@Html.ReadJsonFileContents(Html.GetCookie(MVC.CultureCookie), "~/Scripts/globalize/json/supplemental/likelySubtags.json"));
        Globalize.load(@Html.ReadJsonFileContents(Html.GetCookie(MVC.CultureCookie), "~/Scripts/globalize/json/supplemental/timeData.json"));
        Globalize.load(@Html.ReadJsonFileContents(Html.GetCookie(MVC.CultureCookie), "~/Scripts/globalize/json/supplemental/weekData.json"));
        Globalize.load(@Html.ReadJsonFileContents(Html.GetCookie(MVC.CultureCookie), "~/Scripts/globalize/json/main/{0}/ca-gregorian.json", out effectiveCultureCode));
        Globalize.load(@Html.ReadJsonFileContents(Html.GetCookie(MVC.CultureCookie), "~/Scripts/globalize/json/main/{0}/numbers.json", out effectiveCultureCode));
        Globalize.locale("@effectiveCultureCode");
        /*
            Example usage:
            var localizedNumber = Globalize.formatNumber(12345.678, { minimumFractionDigits: 2, maximumFractionDigits: 2 } ); //format a number
            var localizedDate = Globalize.formatDate(new Date(), { date: "full" }) + ' ' + Globalize.formatDate(new Date(), { time: "short" }); //format a date
        */
        $("[data-initial-dttm]").each(function () {
            var origDTTM = new Date($(this).data("initialDttm"));
            var localizedDTTM = Globalize.formatDate(origDTTM, { date: "full" }) + ' ' + Globalize.formatDate(origDTTM, { time: "short" });
            if (timeZoneLabel) localizedDTTM += (' ' + timeZoneLabel);
            $(this).html(localizedDTTM);
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewData["FullTextQuery"]' != '') $("input[name='FullTextQuery']").val('@ViewData["FullTextQuery"]');
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $.scrollUp({
                scrollName: 'scrollUp', // Element ID
                scrollDistance: 300, // Distance from top/bottom before showing element (px)
                scrollFrom: 'top', // 'top' or 'bottom'
                scrollSpeed: 300, // Speed back to top (ms)
                easingType: 'linear', // Scroll to top easing (see http://easings.net/)
                animation: 'fade', // Fade, slide, none
                animationInSpeed: 200, // Animation in speed (ms)
                animationOutSpeed: 200, // Animation out speed (ms)
                scrollText: '', // Text for element, can contain HTML (default: 'Scroll to top')
                scrollTitle: '@Html.GlobalResource("ScrollToTop").ToJavascriptSafeString()', // Set a custom <a> title if required. Defaults to scrollText (default: false)
                scrollImg: false, // Set true to use image
                activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
                zIndex: 2147483647 // Z-Index for the overlay
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>




<!-- #endregion -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">



<style>
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
        -moz-border-radius-bottomright: 1px;
        -webkit-border-bottom-right-radius: 1px;
        -khtml-border-bottom-right-radius: 1px;
        border: 1px;
    }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
        -moz-border-radius-bottomleft: 1px;
        -webkit-border-bottom-left-radius: 1px;
        -khtml-border-bottom-left-radius: 1px;
        border-bottom-left-radius: 1px;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
        -moz-border-radius-topright: 1px;
        -webkit-border-top-right-radius: 1px;
        -khtml-border-top-right-radius: 1px;
        border-top-right-radius: 1px;
    }

    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
        -moz-border-radius-topleft: 1px;
        -webkit-border-top-left-radius: 1px;
        -khtml-border-top-left-radius: 1px;
        border-top-left-radius: 1px;
    }
</style>



<!-- #geo location -->
@*<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.js"></script>*@

<script type="text/javascript">
    function getGeoLocation() {
        navigator.geolocation.getCurrentPosition(success, error);

        function success(position) {

            var GEOCODING = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&language=en';

            $.getJSON(GEOCODING).done(function (location) {
                $('#country').html(location.results[0].address_components[5].long_name);
                $('#state').html(location.results[0].address_components[4].long_name);
                $('#city').html(location.results[0].address_components[2].long_name);
                $('#txtSearch').val(location.results[0].address_components[4].long_name)
                $('#address').html(location.results[0].formatted_address);
                $('#latitude').html(position.coords.latitude);
                $('#longitude').html(position.coords.longitude);
            })

        }

        function error(err) {
            console.log(err)
        }
    }
</script>