﻿@model Page<ListingAction>
@{
    var currentAction = (string)ViewContext.RouteData.Values["action"];
    int colCount = 2;
    string returnUrl = Request.Url.PathAndQuery;
}

<table class="table table-condensed">
    <tr>
        <th>@Html.GlobalResource("ActionDTTM")</th>
        @{
            bool isAdmin = false;
            if (Context.User.Identity.IsAuthenticated)
            {
                isAdmin = User.IsInRole("Admin");
            }

            bool isInactive = ((Listing)ViewData["CurrentListing"]).Status != ListingStatuses.Active;

            var showUserNames = bool.Parse(SiteClient.Settings["ShowBidHistoryUserNames"]);
            if (showUserNames || isAdmin)
            {
                colCount += 1;

                <th>@Html.GlobalResource("UserName")</th>

            }
        }
        <th>@Html.GlobalResource("Amount")</th>
        @if (isAdmin)
        {
            if ((string)ViewContext.RouteData.Values["action"] == "Audit")
            {
                colCount += 5;
                <th class="hidden-xs">@Html.GlobalResource("Description")</th>
                <th class="hidden-xs">@Html.GlobalResource("Accepted")</th>
                <th class="hidden-xs">@Html.GlobalResource("RejectedReason")</th>
                <th class="hidden-xs">@Html.GlobalResource("Delete")</th>
                <th class="hidden-xs">@Html.GlobalResource("Rollback")</th>
            }
            else
            {
                colCount += 1;
                <th class="hidden-xs">@Html.GlobalResource("Description")</th>
            }

        }

    </tr>
    @{
        string sellerUN = (string)ViewData[Fields.SellerUserName];
        bool isFirstRow = true;
    }
    @foreach (ListingAction action in Model.List)
    {
        <tr>
            <td>@Html.LocalDTTM(action.ActionDTTM, "G")</td>
            @if (showUserNames || Context.User.IsInRole("admin"))
            {
                <td>
                    @if (sellerUN == Html.FBOUserName() && SiteClient.UserMessagingEnabled)
                    {
                        @Html.ActionLink(action.UserName, MVC.SendListingMessageAction, MVC.AccountController,
                                new { receiver = action.UserName, template = Templates.AskBuyerQuestion, listingID = action.ListingID, returnUrl },
                                new { @title = Html.GlobalResourceString("ContactUser") })
                    }
                    else
                    {
                        @action.UserName
                    }
                </td>
            }
            <td>@Html.LocalCurrency(action.Amount.Value, (string)ViewData["Currency"])</td>
            @if (isAdmin)
            {
                <td class="hidden-xs">@action.Description</td>
                if ((string)ViewContext.RouteData.Values["action"] == "Audit")
                {
                    <td class="hidden-xs">
                        @if (action.Status == "Accepted")
                        {
                            <img src="Content/images/General/yes.png" alt="@Html.GlobalResource("Yes")" />
                        }
                        else
                        {
                            <img src="Content/images/General/no.png" alt="@Html.GlobalResource("No")" />
                        }
                    </td>
                    <td class="hidden-xs">@Html.GlobalResourceString(action.Reason)</td>

                    if (action.UserEntered)
                    {
                        if ((!isInactive) & (action.Status == "Accepted"))
                        {
                            <td class="hidden-xs">
                                @if (action.Status != ListingActionStatuses.Rollback)
                                {
                                    @Html.ActionLink(Html.GlobalResource("Delete"), MVC.UndoListingActionAction,
                                            new { listingID = action.ListingID, listingActionID = action.ID });
                                }
                            </td>
                            <td class="hidden-xs">
                                @if (action.Status != ListingActionStatuses.Rollback && !isFirstRow)
                                {
                                    @Html.ActionLink(Html.GlobalResource("Rollback"), MVC.RollbackListingActionsByIDAction,
                                            new { listingID = action.ListingID, listingActionID = action.ID });
                                }
                            </td>
                        }
                        else
                        {
                            <td class="hidden-xs"></td>
                            <td class="hidden-xs"></td>
                        }
                    }
                }
            }
        </tr>
        isFirstRow = false;

    }
   
    @if (Model.TotalPageCount > 1)
    {
        <tr>
            <td colspan="8">
                @{Html.RenderPageNumberLinks(Model);}
            </td>
        </tr>
    }
</table>
@if (Model.List.Count() == 0)
{
    <p class="no-history">
        @Html.GlobalResource("NoResultsToDisplay")
    </p>
}