﻿@model Listing
<table class="table-condensed">
    @{
        if (Model.CurrentPrice.HasValue)
        {
            <tr>
                <td><strong>@Html.Resource("AuctionListing, CurrentPrice")</strong></td>
                <td>@Html.LocalCurrency((decimal)Model.CurrentPrice, Model.Currency.Code)</td>
            </tr>
        }

        if (Model.OriginalPrice.HasValue)
        {
            <tr>
                <td><strong>@Html.GlobalResource("StartingPrice")</strong></td>
                <td>@Html.LocalCurrency((decimal)Model.OriginalPrice, Model.Currency.Code)</td>
            </tr>
        }
    }
    <tr>
        <td><strong>@Html.GlobalResource("NumberOfBids")</strong></td>
        <td>@Model.AcceptedActionCount</td>
    </tr>
    @if (Model.Status == ListingStatuses.Active)
    {
        <tr>
            <td><strong>@Html.GlobalResource("RemainingTime")</strong></td>
            <td>@Html.RemainingTime(Model.EndDTTM.Value)</td>
        </tr>
        <tr>
            <td><strong>@Html.GlobalResource("StartDTTM")</strong></td>
            <td>@Html.LocalDTTM(Model.StartDTTM.Value)</td>
        </tr>
        <tr>
            <td><strong>@Html.GlobalResource("EndDTTM")</strong></td>
            <td>@Html.LocalDTTM(Model.EndDTTM.Value)</td>
        </tr>
    }
    else
    {
        <tr>
            <td><strong>@Html.GlobalResource("EndDTTM")</strong></td>
            <td>@Html.LocalDTTM(Model.EndDTTM.Value)</td>
        </tr>
    }
    <tr>
        <td><strong>@Html.GlobalResource("Seller")</strong></td>
        <td>@Model.OwnerUserName</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
