﻿@model List<Hierarchy<int, Category>>

@foreach (Hierarchy<int, Category> categoryTree in Model.OrderBy(c => c.Current.DisplayOrder))
{

    if (!string.IsNullOrEmpty(categoryTree.Current.RolesAllowed))
    {
        if (!Context.User.IsInRole(categoryTree.Current.RolesAllowed)) { continue; }
    }

    if (!string.IsNullOrEmpty(categoryTree.Current.EnabledCustomProperty))
    {
        if (categoryTree.Current.EnabledCustomProperty.StartsWith("#"))
        {
            if (!bool.Parse(categoryTree.Current.EnabledCustomProperty.Substring(1))) { continue; }
        }
        else if (categoryTree.Current.EnabledCustomProperty.Contains("&&") ||
                 categoryTree.Current.EnabledCustomProperty.Contains("||"))
        {
            if (!Html.EvaluateComplexEnabledCustomProperty(categoryTree.Current.EnabledCustomProperty)) { continue; }
        }
        else if (categoryTree.Current.EnabledCustomProperty.StartsWith("LTPROP_!"))
        {
            //render this category if no listing types have a 'true' value for the specified property
            string propName = categoryTree.Current.EnabledCustomProperty.Substring(8);
            bool skip = false;
            foreach (var listingType in ListingClient.ListingTypes)
            {
                var property = ListingClient.GetListingTypeProperties(listingType.Name, "Site").FirstOrDefault(p =>
                    p.Field.Name == propName && !string.IsNullOrWhiteSpace(p.Value));
                if (property != null && bool.Parse(property.Value) == true)
                {
                    skip = true;
                }
            }
            if (skip) { continue; }
        }
        else if (categoryTree.Current.EnabledCustomProperty.StartsWith("LTPROP_"))
        {
            //render this category if any listing types have a 'true' value for the specified property
            string propName = categoryTree.Current.EnabledCustomProperty.Substring(7);
            bool skip = true;
            foreach (var listingType in ListingClient.ListingTypes)
            {
                var property = ListingClient.GetListingTypeProperties(listingType.Name, "Site").FirstOrDefault(p =>
                    p.Field.Name == propName && !string.IsNullOrWhiteSpace(p.Value));
                if (property != null && bool.Parse(property.Value) == true)
                {
                    skip = false;
                }
            }
            if (skip) { continue; }
        }
        else if (categoryTree.Current.EnabledCustomProperty.StartsWith("!"))
        {
            if (bool.Parse(SiteClient.Settings[categoryTree.Current.EnabledCustomProperty.Substring(1)])) { continue; }
        }
        else
        {
            if (!bool.Parse(SiteClient.Settings[categoryTree.Current.EnabledCustomProperty])) { continue; }
        }
    }

    if (string.IsNullOrEmpty(categoryTree.Current.MVCAction))
    {
        <li>@Html.GlobalResource(categoryTree.Current.Name)</li>
    }
    else
    {
        if (ViewContext.RouteData.Values["action"].Equals(categoryTree.Current.MVCAction) ||
            (ViewContext.RouteData.Values["id"] != null && categoryTree.Current.MVCAction.Equals(ViewContext.RouteData.Values["action"] + "/" + ViewContext.RouteData.Values["id"])) ||
            (Request.Url.ToString().Contains("/" + categoryTree.Current.MVCAction)) ||
            (ViewData.ContainsKey("SelectedNavAction") && categoryTree.Current.MVCAction != null && categoryTree.Current.MVCAction.Equals(ViewData["SelectedNavAction"]))
            )
        {
            <li class="active">
                @Html.ActionLink(Html.GlobalResource(categoryTree.Current.Name), categoryTree.Current.MVCAction)
            </li>
        }
        else
        {
            <li>
                <!-- Bhuwan Update-->
                @if (categoryTree.Current.Name == "Invoices")
                {


                    if (TempData["CheckSales"] == null)
                    {
                        @Html.ActionLink(Html.GlobalResource("Sales Invoice"), categoryTree.Current.MVCAction)
                        TempData["CheckSales"] = "checked";
                    }
                    else
                    {
                        @Html.ActionLink(Html.GlobalResource("Purchase Invoice"), categoryTree.Current.MVCAction)
                        TempData["CheckSales"] = null;
                    }

                }
                else if (categoryTree.Current.Name == "Offers")
                {
                    @Html.ActionLink(Html.GlobalResource("Manage Offers"), categoryTree.Current.MVCAction, null, new { @style = "font-weight:900;" })
                }
                else if (categoryTree.Current.Name == "Outbox")
                {
                    @Html.ActionLink(Html.GlobalResource("Sent"), categoryTree.Current.MVCAction)
                }
                else if (categoryTree.Current.Name == "Payment")
                {
                    @Html.ActionLink(Html.GlobalResource("Payment Setup"), categoryTree.Current.MVCAction)
                }


                else
                {
                    @Html.ActionLink(Html.GlobalResource(categoryTree.Current.Name), categoryTree.Current.MVCAction)
                }
                <!-- Bhuwan Update-->
            </li>
        }
    }
    @Html.Partial("CategoryList", categoryTree.ChildHierarchies)
}
