﻿@foreach (Decoration decoration in SiteClient.Decorations)
{
    if (SiteClient.BoolSetting("ListingOption_" + decoration.Name + "_Enabled"))
    {
        <li class="list-group-item">
            <div class="form-inline">
                <div class="form-group">
                    <div class="checkbox">
                        @Html.CheckBoxEnableOnly("decoration_" + decoration.ID)
                        <label for="@("decoration_" + decoration.ID)">
                            @string.Format(decoration.FormatString, decoration.Name).ToMvcHtmlString()
                            @decoration.Description
                            @if (decoration.Amount > 0)
                            {
                                @:&nbsp;-&nbsp;
                                @Html.SiteCurrencyOrFree(decoration.Amount)
                            }
                        </label>
                    </div>
                </div>
            </div>
        </li>
    }
}
