﻿<div class="form-group">
    <label class="required col-sm-3 control-label">
        @Html.Resource("FixedPriceListing, Price")
    </label>
    <div class="col-sm-6">
        @Html.CurrencyBox(Fields.Price, null, (string)ViewData[Fields.Currency], new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="required col-sm-3 control-label">
        @Html.Resource("FixedPriceListing, Quantity")
    </label>
    <div class="col-sm-6">
        @Html.TextBox(Fields.Quantity, null, new { @class = "form-control" })
    </div>
</div>
@if ((bool)ViewData[SiteProperties.EnableMakeOffer])
{
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <div class="checkbox">
                <label>
                    @Html.CheckBox(Fields.MakeOfferAllowed, null)
                    @Html.Resource("FixedPriceListing, AcceptOffers")
                </label>
            </div>
        </div>
    </div>
}
