﻿@model Listing
<div class="detail__user-summary">
@if (SiteClient.UserMessagingEnabled && Context.User.Identity.IsAuthenticated && Html.FBOUserName() != Model.OwnerUserName)
{
    <a href="@Url.Action(MVC.SendListingMessageAction, MVC.AccountController, new { receiver = Model.OwnerUserName, template = Templates.AskListingQuestion, listingID = Model.ID,  returnUrl = Model.GetDetailUrl()  })" class="icon--email">
        <svg height="20" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
            <path d="M0 0h24v24H0z" fill="none" />
        </svg>
    </a>
}
    <span class="bb">
        <strong>@Model.OwnerUserName</strong> 
        @if ((!SiteClient.EnableEvents) || (SiteClient.BoolSetting(SiteProperties.EnableNonAuctionListingsForEvents))) {
        @Html.ActionLink(Html.GlobalResource("ViewSellersOtherListings", Model.OwnerUserName), MVC.BrowseAction, MVC.ListingController, new { Seller = Model.OwnerUserName }, new { @class = "view-all-listings" })
        }
    </span>

    @if (ViewData["SellerLocation"] != null && !string.IsNullOrEmpty(ViewData["SellerLocation"].ToString()))
    {
        @ViewData["SellerLocation"]
        <br />
    }
    @if (SiteClient.FeedbackEnabled)
    {
        @Html.Partial("FeedbackRating", Model.Owner)
    }
</div>