﻿@model Invoice
@{
    bool payerIsTaxExempt = Model.Payer.Properties.Any(up => up.Field.Name == StdUserProps.TaxExempt && up.Value != null)
        ? bool.Parse(Model.Payer.Properties.First(up => up.Field.Name == StdUserProps.TaxExempt).Value) : false;
}
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.GlobalResource("SiteFeeInvoice"): # @Model.ID
        <span class="pull-right">@Html.LocalDTTM(Model.CreatedDTTM, "g")</span>
        <div class="clearfix"></div>
    </div>
    <table class="table">
        <tr>
            <td>
                <strong>@SiteClient.Settings[SiteProperties.FriendlySiteName]</strong>
                <br />@Model.OwnerName
                <br />@Model.OwnerStreet1
                @if (!string.IsNullOrEmpty(Model.OwnerStreet2))
                {
                    <br />@Model.OwnerStreet2
                }
                <br />@Model.OwnerCity, @Model.OwnerStateRegion @Model.OwnerZipPostal
                <br />@Model.OwnerCountry
            </td>
            <td>
                <strong>@Model.Payer.UserName @Html.GlobalResource("BillingAddress")</strong>
                <br />@Model.BillingFirstName&nbsp;@Model.BillingLastName
                <br />@Model.BillingStreet1
                @if (!string.IsNullOrEmpty(Model.BillingStreet2))
                {
                    <br />@Model.BillingStreet2
                }
                <br />@Model.BillingCity, @Model.BillingStateRegion @Model.BillingZipPostal
                <br />@Model.BillingCountry
            </td>
        </tr>
    </table>

    <div class="col-xs-12">
        <div class="alert alert-info">
            @if (SiteClient.BoolSetting(SiteProperties.VATEnabled))
            {
                @Html.GlobalResource("Subtotal")<text>:&nbsp;&nbsp;</text>
                <strong>@Html.LocalCurrency(Model.Subtotal, Model.Currency)</strong><text>:&nbsp;&nbsp;&nbsp;&nbsp;</text>
                @Html.GlobalResource("VAT")<text>:&nbsp;&nbsp;</text>
                if (!payerIsTaxExempt)
                {
                    <strong>@Html.LocalCurrency(Model.SalesTax, Model.Currency)</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                }
                else
                {
                    <strong>@Html.GlobalResource("TaxExempt")</strong><text>&nbsp;&nbsp;&nbsp;&nbsp;</text>
                }
            }
            @Html.GlobalResource("Total"):
            <strong>@Html.LocalCurrency(Model.Total, Model.Currency)</strong>
        </div>
        
    </div>
    <table class="table table-condensed">
        @{
            var allLineItemData = (Dictionary<int, Page<LineItem>>)ViewData[MVC.ViewData_PageOfLineitems];
            var lineItems = (allLineItemData[Model.ID]);
        }
        @Html.Partial("PageOfFees", lineItems)
    </table>
</div>
@Html.Partial("PaymentHistory")