﻿
@{
    List<ListItem> themeOptions = null;
    string selectedTheme = string.Empty;
}
@if (SiteClient.DemoEnabled)
{
    themeOptions = SiteClient.Properties.First(sp => sp.Field.Name == SiteProperties.CssTheme).Field.Enumeration;
    selectedTheme = Html.GetCookie("awe_demo_theme");
    if (themeOptions.Any(li => li.Name == selectedTheme))
    {
<link rel="stylesheet" type="text/css" href="Content/@(themeOptions.First(li => li.Name.Equals(selectedTheme, StringComparison.OrdinalIgnoreCase)).Value)">
        }
        else if (SiteClient.EnableEvents)
        {
<link rel="stylesheet" type="text/css" href="Content/AWE_Classic_Light_00.css">
        }
        else
        {
<link rel="stylesheet" type="text/css" href="Content/AWE_Default_01.css">
        }
<script type="text/javascript">
            $(document).ready(function () {
                $(".awe-demo-theme-selector").change(function () {
                    $.cookie('awe_demo_theme', $(this).val(), { path: '/', expires: 365 });
                    window.location.reload();
                });
                $(".awe-demo-theme-selector").val($.cookie('awe_demo_theme'));
                if ($(".awe-demo-theme-selector option:checked").length == 0) {
                    var firstOption = $(".awe-demo-theme-selector option:first");
                    $.cookie('awe_demo_theme', firstOption.attr("value"), { path: '/', expires: 365 });
                    firstOption.prop("selected", true);
                }
            });
</script>

@Styles.Render("~/bundle/css/demo")
}
else if (!string.IsNullOrEmpty(SiteClient.TextSetting(SiteProperties.CssTheme)))
{
    <link rel="stylesheet" type="text/css" href="Content/@SiteClient.TextSetting(SiteProperties.CssTheme)">
}
else if (SiteClient.EnableEvents)
{
    <link rel="stylesheet" type="text/css" href="Content/AWE_Classic_Light_00.css">
}
else
{
    <link rel="stylesheet" type="text/css" href="Content/AWE_Default_01.css">
}