﻿@model Page<Offer>
@{
    Layout = "~/Views/Account/_MyAccountLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("select#SortFilterOptions").change(function () {
            $("input#submitDropDown").click();
        });

        $("select#ViewFilterOption").change(function () {
            $("input#submitDropDown").click();
        });

        //$('.checkall').click(function () {
        //    $(".row-selection-checkbox").prop("checked", this.checked);
        //});

    });
</script>
<div class="well well-sm section-title">
    @Html.GlobalResource("LineageString_Bidding_Offers")
</div>
@Html.LocalizedValidationSummary()

<script type="text/javascript">
    $(document).ready(function () {
        //[Filter] - click
        $("#ToggleFilterOptions").click(function (event) {
            event.preventDefault();
            if ($("#ToggleIcon").hasClass("glyphicon-plus-sign")) {
                //show filter opts
                $("#ToggleIcon").addClass("glyphicon-minus-sign").removeClass("glyphicon-plus-sign");

            } else {
                //clear out input values
                $("#SearchTerm").val("");

                //hide filter opts
                $("#ToggleIcon").addClass("glyphicon-plus-sign").removeClass("glyphicon-minus-sign");

                if (filtersApplied) {
                    //since one or more filters have been applied submit the form to unfilter the results
                    $(this).parents("form").first().submit();
                }
            }
        });
        //[Clear Filter] click
        $("#ClearFilter").click(function (event) {
            event.preventDefault();
            $("#SearchTerm").val("");
            if (filtersApplied) {
                $(this).parents("form").first().submit();
            }
        });
        //if any keywords have already been specified...
        var filtersApplied = $("#SearchTerm").val() != "";
        if (filtersApplied) {
            //show filter opts
            $("#ToggleFilterOptions").addClass("awe-hidden")
            $("#ClearFilter").removeClass("awe-hidden");
        }

    });
</script>
<div class="panel panel-default">
    @using (Html.BeginForm(MVC.BiddingOffersAction, MVC.AccountController, new { page = 0 }, FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-4 col-sm-offset-2">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">@Html.GlobalResource("View")</div>
                        @Html.DropDownList(MVC.ViewFilterOption, null, new { @class = "form-control SubmitOnChange" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">@Html.GlobalResource("Sort")</div>
                        @Html.DropDownList(MVC.SortFilterOptions, (SelectList)ViewData[MVC.SortFilterOptionList], new { @class = "form-control" })
                    </div>
                    <input type="submit" id="submitDropDown" class="awe-hidden" />
                </div>
            </div>
            <div class="col-sm-2">
                <a id="ToggleFilterOptions" href="#FilterOptions" class="btn btn-default pull-right" data-toggle="collapse">
                    <span id="ToggleIcon" class="glyphicon text-default glyphicon-plus-sign"></span>
                    &nbsp;@(Html.GlobalResource("Filter"))
                </a>
                <button id="ClearFilter" class="btn btn-default pull-right awe-hidden">
                    <span id="ToggleIcon" class="glyphicon text-default glyphicon-remove"></span>
                    &nbsp;@(Html.GlobalResource("ClearFilter"))
                </button>
            </div>
            <div id="FilterOptions" class="col-xs-12 collapse">
                <div class="form-inline filter">
                    <label>@Html.GlobalResource("FilterBy")</label>
                    <div class="radio">
                        <label>
                            @Html.RadioButton(Fields.SearchType, "User", true, new { @id = "SearchType_User" })

                        </label>
                    </div>
                    <label for="SearchType_User">@Html.GlobalResource("User")</label>
                    <div class="radio">
                        <label>
                            @Html.RadioButton(Fields.SearchType, "ListingTitle", false, new { @id = "SearchType_ListingTitle" })
                        </label>
                    </div>
                    <label for="SearchType_ListingTitle">@Html.GlobalResource("Title")</label>
                    <div class="radio">
                        <label>
                            @Html.RadioButton(Fields.SearchType, "ListingID", false, new { @id = "SearchType_ListingID" })
                        </label>
                    </div>
                    <label for="SearchType_ListingID">@Html.GlobalResource("ListingNum")</label>
                    @Html.TextBox(Fields.SearchTerm, null, new { @class = "form-control", @placeholder = Html.GlobalResourceString("EnterKeywords") })
                    <button class="btn btn-info" id="ApplyFilter">@Html.GlobalResource("ApplyFilter")</button>
                </div>
            </div>
        </div>
    }

    <div class="heading">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <!-- Image container -->
            </div>
            <div class="col-sm-5">
                @Html.GlobalResource("Title") <em>(@Html.GlobalResource("ListingID"))</em>
                <div class="row">
                    <div class="col-sm-4">@Html.GlobalResource("Quantity")</div>
                    <div class="col-sm-4">@Html.GlobalResource("UnitPrice")</div>
                    <div class="col-sm-4">@Html.GlobalResource("TotalPrice")</div>
                </div>
            </div>
            <div class="col-sm-3">
                @Html.GlobalResource("Status")
                <br />
                @Html.GlobalResource("User")
            </div>
        </div>
    </div>

    @foreach (Offer offer in Model.List)
    {
        @Html.Partial("Offer_Row", offer)
    }
    @if (Model.TotalItemCount == 0)
    {
        <p class="no-history">
            @Html.GlobalResource("NoOffersFound")
        </p>
    }
</div>
@if (Model.TotalPageCount > 1)
{
    Html.RenderPageNumberLinks(Model);
}

