﻿@model Event
@{
    var draftLotCounts = (Dictionary<int, int>)ViewData["DraftLotCounts"];
}
<div class="col-sm-12">
    <div class="line-item clearfix" data-eventid="@Model.ID">
        @Html.Partial("Action_Events")
        <div class="img-container">
            @if (string.IsNullOrEmpty(Model.PrimaryImageURI))
            {
                @Html.Partial("NoPhotoThumbnail")
            }
            else
            {
                string uri = string.Format(Model.PrimaryImageURI, "ThumbFit".ToLower());
                @Model.BeginDetailLink()
                <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                @Model.EndDetailLink()
            }
        </div>
        <div class="item-data">
            <p>
                <strong>
                    @Model.DetailLink(Model.Title)
                </strong>
                <em>(@Model.ID)</em>
            </p>
            <p>
                @Html.LocalDTTM(Model.StartDTTM, Model.TimeZone, "G") - @Html.LocalDTTM(Model.EndDTTM, Model.TimeZone, "G")
                @*<br />
                @Html.TimeZoneName(Model.TimeZone)*@
            </p>
            <p>
                @Html.GlobalResource("NumberOfLots"): @Model.LotCount
                &nbsp;| &nbsp;
                @Html.GlobalResource("NumberOfDraftLots"): @draftLotCounts[Model.ID]
            </p>
        </div>


    </div>
</div>