﻿@using Microsoft.Owin.Security
<link href="~/ContentNew/css/styles.css" type="text/css" rel="stylesheet" />
<form>
    @*<script type="text/javascript">
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '@System.Configuration.ConfigurationManager.AppSettings["FBAppId"]', // App ID
                    status: true, // check login status
                    cookie: false, // enable cookies to allow the server to access the session
                    xfbml: true,  // parse XFBML
                    oauth: true
                });
            };

            function fb_login() {
                // Additional initialization code here
                FB.login(function (response) {
                    //  alert('Response is ' + response);
                    if (response != null) {
                        FB.api('/me?locale=en_US&fields=name,email', function (me) {

                            //alert(JSON.stringify(me));

                            var Email = me.email;

                            var accessToken = response.authResponse.accessToken;

                            if (Email != null && accessToken != null) {

                                var form = document.createElement("form");
                                form.setAttribute("method", 'post');

                                form.setAttribute("action", '/Account/LoginWithFb');

                                var field = document.createElement("input");
                                field.setAttribute("type", "hidden");
                                field.setAttribute("name", 'name');
                                field.setAttribute("value", me.name);
                                form.appendChild(field);

                                var Id = document.createElement("input");
                                Id.setAttribute("type", "hidden");
                                Id.setAttribute("name", 'Email');
                                Id.setAttribute("value", Email);
                                form.appendChild(Id);
                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                    }
                    else {
                        FB.Event.subscribe('auth.authResponseChange', function (response) {
                            if (response.status === 'connected') {
                                var accessToken = response.authResponse.accessToken;
                                FB.api('/me?locale=en_US&fields=name,email', function (me) {

                                    var Email = me.email;

                                    var form = document.createElement("form");
                                    form.setAttribute("method", 'post');

                                    form.setAttribute("action", '/Account/LoginWithFb');

                                    var field = document.createElement("input");
                                    field.setAttribute("type", "hidden");
                                    field.setAttribute("name", 'fbaccessToken');
                                    field.setAttribute("value", accessToken);
                                    form.appendChild(field);

                                    var Id = document.createElement("input");
                                    Id.setAttribute("type", "hidden");
                                    Id.setAttribute("name", 'Email');
                                    Id.setAttribute("value", Email);
                                    form.appendChild(Id);
                                    document.body.appendChild(form);
                                    form.submit();

                                });

                                // TODO: Handle the access token

                            }
                            else if (response.status === 'not_authorized') {

                            }
                            else {

                                // the user isn't logged in to Facebook.
                            }
                        });
                    }
                }, {
                    scope: 'email,user_birthday,public_profile'
                });
            }

            // Load the SDK Asynchronously
            (function (d) {
                var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = "//connect.facebook.net/en_US/all.js";
                ref.parentNode.insertBefore(js, ref);
            }(document));

        </script>*@
    <style>
        .qwert {
            color: #fff;
            border: none;
            border-radius: 4px;
        }

        .signupbt {
            background: #d57309;
            padding: 15px 30px;
            display: -webkit-inline-box;
        }

        .loginbt {
            background: #07a228;
            padding: 12px 30px;
        }

        .btn-social {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            background-color: #314f8c !important;
            color: #fff !important;
            position: relative !important;
            font-size: 15px !important;
            float: initial !important;
            width: auto !important;
        }
        
    </style>

    <section id="login-page">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padd-cut">
                @Html.LocalizedValidationSummary()
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-cut">
                    <div class="col-lg-2 col-md-2 col-sm-2">

                    </div>

                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 text-right">

                        <h2 class="log-head line-1">Sign up</h2>
                        <p class="l-para">Open a free Account in <span>Just 3 easy steps</span>.</p>
                        <p class="m-para">Begin to List, Bid & Buy Deals</p>
                        <p class="s-para">If you are not already a registered member</p>
                        <p class="reg-para">Please <span>Register Now</span>. Its <span>free</span> & <span>easy</span></p>



                        @*<div class="single_content_cu" onclick="javascript:fb_login();" style="cursor:pointer;">

                                <img src="~/ContentNew/images/pZzc4.png" />
                            </div>*@
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padd-cut">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <h2 class="log-head line-2">Sign in</h2>
                        <p class="s-para">Already have an account? Sign in here</p>

                        <div class="form-group">

                            @Html.TextBox("username", "", new { @class = "form-control", placeholder = "username" })
                        </div>
                        <div class="form-group">
                            @*<input type="password" class="form-control" id="" placeholder="password">*@
                            @Html.Password("password", "", new { @class = "form-control", placeholder = "password" })
                        </div>
                        <div class="checkbox">
                            @*<label><input type="checkbox"> Remember me</label>*@
                            <label>
                                @Html.CheckBox("rememberMe") Remember me
                            </label>
                            @*<label class="fpw"><a href="#">Forget password?</a></label>*@
                            <label class="fpw">
                                @Html.ActionLink(Html.GlobalResource("ForgotYourPassword"), MVC.ForgotPasswordAction, MVC.AccountController)
                            </label>
                            <div class="col-md-6" style=" margin-top: 10px;">
                                <input type="submit" value="Log in" class="qwert loginbt cool" />
                            </div>
                            <div class="col-md-6" style=" margin-top: 10px;text-align:-webkit-center;">
                                <a href="@Url.Action(MVC.RegisterAction, MVC.AccountController)" class="qwert signupbt cool">Sign Up Now !</a>
                            </div>
                            <div class="col-md-12" style=" margin-top: 10px;float:right;">
                                @{
                                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                                    string returnUrl = (string)ViewData[Fields.ReturnUrl];
                                }


                                @if (loginProviders.Count() > 0)
                                {
                                    if (loginProviders.Any(p => p.AuthenticationType == "Facebook"))
                                    {
                                        <a class="btn btn-social btn-facbook cool" href="@Html.GetActionUrl(MVC.ExternalLoginAction,
                                                        new { provider = "Facebook", returnUrl })">
                                            <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path></svg></span>
                                            @Html.GlobalResource("SignInWithXxx", Html.GlobalResourceString("Facebook"))
                                        </a>
                                    }
                                    if (loginProviders.Any(p => p.AuthenticationType == "Google"))
                                    {

                                        <a class="btn btn-block btn-google" href="@Html.GetActionUrl(MVC.ExternalLoginAction,
                                                        new { provider = "Google", returnUrl })">
                                            <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M179.7 237.6L179.7 284.2 256.7 284.2C253.6 304.2 233.4 342.9 179.7 342.9 133.4 342.9 95.6 304.4 95.6 257 95.6 209.6 133.4 171.1 179.7 171.1 206.1 171.1 223.7 182.4 233.8 192.1L270.6 156.6C247 134.4 216.4 121 179.7 121 104.7 121 44 181.8 44 257 44 332.2 104.7 393 179.7 393 258 393 310 337.8 310 260.1 310 251.2 309 244.4 307.9 237.6L179.7 237.6 179.7 237.6ZM468 236.7L429.3 236.7 429.3 198 390.7 198 390.7 236.7 352 236.7 352 275.3 390.7 275.3 390.7 314 429.3 314 429.3 275.3 468 275.3" /></svg></span>
                                            @Html.GlobalResource("SignInWithXxx", Html.GlobalResourceString("Google"))
                                        </a>
                                    }

                                }
                            </div>
                        </div>
                        @*<a class="login-btn">Log in</a>*@



                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">


                    </div>


                </div>
            </div>
            
            <div class="col-md-12" style="text-align:center;">
                
                
                
                
                
                



                
            </div>
    </section>
</form>