﻿@section head {
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='submit']").click(function (event) {
                //prevent form submission temporarily
                event.preventDefault();
                //disable submit button
                $(this).prop("disabled", true);
                //submit container form
                $(this).parents("form").first().submit();
            });
        });
    </script>


}
@*<div class="col-xs-12">
        <div class="well well-sm section-title">
            @Html.GlobalResource("CreateAnAccount")
        </div>
        <div id="Form_Registration">
            @Html.LocalizedValidationSummary()
            @using (Html.BeginForm(MVC.RegisterAction, MVC.AccountController, FormMethod.Post))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.GlobalResource("CreateLogin")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="Username" class="required col-sm-3 control-label">@Html.GlobalResource("Username")</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("UserName", "", new { @class = "form-control" })
                                    <span class="help-block">@Html.GlobalResource("NewUserNameHelpText")</span>
                                </div>
                            </div>

                            @if (string.IsNullOrWhiteSpace((string)ViewData[Fields.ExternalProvider]) ||
                                 string.IsNullOrWhiteSpace((string)ViewData[Fields.ExternalUserID]))
                            {
                                <div class="form-group">
                                    <label for="Password" class="required col-sm-3 control-label">@Html.GlobalResource("Password")</label>
                                    <div class="col-sm-6">
                                        @Html.Password("Password", "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword" class="required col-sm-3 control-label">@Html.GlobalResource("ConfirmPassword")</label>
                                    <div class="col-sm-6">
                                        @Html.Password("confirmPassword", "", new { @class = "form-control" })
                                        <span class="help-block">
                                            @Html.GlobalResource("PasswordRequirements")
                                            @Html.GlobalResource("PasswordsCaseSensitive")
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                if (SiteClient.Settings["EnableSecurityQuestionAndAnswer"].Equals("True"))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @Html.GlobalResource("SecurityQuestion")
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="PasswordQuestion" class="col-sm-3 control-label">@Html.GlobalResource("CreateASecurityQuestion")</label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("PasswordQuestion", "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordAnswer" class="col-sm-3 control-label">@Html.GlobalResource("AnswerToSecurityQuestion")</label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("PasswordAnswer", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.GlobalResource("YourContactInformation")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="Email" class="required col-sm-3 control-label">@Html.GlobalResource("Email")</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("Email", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmEmail" class="required col-sm-3 control-label">@Html.GlobalResource("ConfirmEmail")</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("confirmEmail", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                List<CustomField> userFields = (List<CustomField>)ViewData[Fields.UserCustomFields];
                if (userFields.Count > 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @Html.GlobalResource("AdditionalInformation")
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @foreach (CustomField customField in userFields.OrderBy(ucf => ucf.DisplayOrder))
                                {
                                    string customFieldCss = (customField.Type != CustomFieldType.Boolean && customField.Required)
                                        ? "required col-sm-3 control-label"
                                        : "col-sm-3 control-label";
                                    <div class="form-group">
                                        <label for="@customField.Name" class="@customFieldCss">
                                            @Html.CustomFieldResource(customField.Name)
                                        </label>
                                        <div class="col-sm-6">
                                            @{ Html.RenderCustomField(customField, new { @class = "form-control" }, true); }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                if (SiteClient.BoolSetting(SiteProperties.RequireAddressOnRegistration))
                {
                    @Html.Partial("InitialAddress", new Address())

                    //Address needed for credit card
                    if (SiteClient.BoolSetting(SiteProperties.RequireCreditCardOnRegistration))
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                @Html.GlobalResource("CreditCardInformation")
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label for="@Fields.CardType" class="required col-sm-3 control-label">@Html.GlobalResource("CardType")</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownList("CardType", (IEnumerable<SelectListItem>)ViewData[Fields.CreditCardTypes], Html.GlobalResourceString("SelectACreditCardType"), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="@Fields.CardNumber" class="required col-sm-3 control-label">@Html.GlobalResource("CardNumber")</label>
                                        <div class="col-sm-6">
                                            @Html.TextBox(Fields.CardNumber, null, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="@Fields.ExpirationMonth" class="required col-sm-3 control-label">@Html.GlobalResource("ExpirationMonth")</label>
                                        <div class="col-sm-3">
                                            @Html.MonthDropDownList(Fields.ExpirationMonth, string.Empty, new { @class = "form-control", placeholder = @Html.GlobalResource("Month") })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="@Fields.ExpirationYear" class="required col-sm-3 control-label">@Html.GlobalResource("Year")</label>
                                        <div class="col-sm-3">
                                            @Html.YearDropDownList(Fields.ExpirationYear, string.Empty, new { @class = "form-control", placeholder = @Html.GlobalResource("Year") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.GlobalResource("Agreements")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("agreements") <label for="agreements" class="required">&nbsp;<a href="#TermsAndConditions" data-toggle="modal">@Html.GlobalResource("IAgreeToTheTermsAndConditions", Html.GlobalResource("TermsAndConditions"))</a></label>
                                </label>
                                <div class="modal fade" id="TermsAndConditions" tabindex="-1" role="dialog" aria-labelledby="TermsAndConditions" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">
                                                    @Html.GlobalResource("TermsAndConditions")
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                @Html.GetSiteContent("TermsAndConditions")
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("Newsletter")
                                    <label for="Newsletter">&nbsp;@Html.GlobalResource("ReceiveNewsletter")</label>
                                </label>
                            </div>
                        </div>
                        @if (SiteClient.BoolSetting("EnableRecaptchaForRegistration"))
                        {
                            <div class="form-group">
                                <label class="required">@Html.GlobalResource("RecaptchaSecurity")</label>
                                @Html.RenderCaptcha()
                            </div>
                        }
                    </div>
                    <div class="col-xs-12">
                        @Html.GetSiteContent("RegistrationCopy")
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right hidden-xs">@Html.GlobalResource("RequiredFields", "<span class=\"required\"></span>")</div>
                        <input type="submit" class="btn btn-success" value="@Html.GlobalResource("CompleteRegistration")" />
                    </div>
                </div>
                @Html.Hidden(Fields.ExternalUserID)
                @Html.Hidden(Fields.ExternalProvider)
            }

        </div>

    </div>*@



<style>
    .btn-social{
            font-size: 14px!important;
    }
    .btn-social:hover{
            color:white;
    }
    #reg-page .head {
    color: #07a228;
    font-variant: all-petite-caps!important;
}
</style>








<!-- #region name -->
<section id="reg-page">
    <div class="container" id="Form_Registration">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="col-md-12" style=" margin-top: 10px;float:right;">
                    <a class="btn btn-social" style="     position: inherit;    float: initial;" href="/Account/ExternalLogin?provider=Facebook&amp;returnUrl=%2FAccount%2FRegister">
                        <span><svg viewBox="0 0 512 512"><path fill="#fff" d="M211.9 197.4h-36.7v59.9h36.7V433.1h70.5V256.5h49.2l5.2-59.1h-54.4c0 0 0-22.1 0-33.7 0-13.9 2.8-19.5 16.3-19.5 10.9 0 38.2 0 38.2 0V82.9c0 0-40.2 0-48.8 0 -52.5 0-76.1 23.1-76.1 67.3C211.9 188.8 211.9 197.4 211.9 197.4z"></path></svg></span>
                        Sign up with Facebook
                    </a>
                    @*<p class="instruction-para" style="text-align:center;">Facebook Register user Has To Fillup Form While Sign Up.</p>*@
                    <p class="instruction-para" style="text-align:center;">&nbsp;</p>
                </div>
                <h2 class="head"><strong>Open a free Account in</strong> </h2>
                <p class="instruction-para" style="text-align:center;">(Facebook Register User Must Fillup Form To Complete Sign Up.)</p>
                @*<span class="sub-head">Just 3 easy steps.</span>*@
                @Html.LocalizedValidationSummary()
                @using (Html.BeginForm(MVC.RegisterAction, MVC.AccountController, FormMethod.Post))
                {

                    <div class="form-group">
                        <p class="para-head">Create Login</p>
                        @Html.TextBox("UserName", "", new { @class = "form-control" })
                        <p class="instruction-para">Your username will be shown when you bid, buy, and sell.</p>
                    </div>


                    if (string.IsNullOrWhiteSpace((string)ViewData[Fields.ExternalProvider]) ||
                                 string.IsNullOrWhiteSpace((string)ViewData[Fields.ExternalUserID]))
                    {
                        <div class="form-group">


                            @Html.Password("Password", "", new { @class = "form-control", placeholder = "Password *" })

                        </div>

                        <div class="form-group">


                            @Html.Password("confirmPassword", "", new { @class = "form-control", placeholder = "Confirm password *" })
                            <p class="instruction-para">
                                @Html.GlobalResource("PasswordRequirements")
                                @Html.GlobalResource("PasswordsCaseSensitive")
                            </p>

                        </div>
                    }

                    <div class="form-group">
                        <p class="para-head">Your Contact Information</p>

                        @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Email *" })
                    </div>
                    <div class="form-group">

                        @Html.TextBox("confirmEmail", "", new { @class = "form-control", placeholder = "Confirm Email *" })
                    </div>



                    List<CustomField> userFields = (List<CustomField>)ViewData[Fields.UserCustomFields];
                    if (userFields.Count > 0)
                    {

                        @*@Html.GlobalResource("AdditionalInformation")*@


                        <div class="form-group">
                            @foreach (CustomField customField in userFields.OrderBy(ucf => ucf.DisplayOrder))
                            {
                                string customFieldCss = (customField.Type != CustomFieldType.Boolean && customField.Required)
                                    ? "required col-sm-3 control-label"
                                    : "col-sm-3 control-label";
                                <div class="form-group">


                                    @{ Html.RenderCustomField(customField, new { @class = "form-control", placeholder = @Html.CustomFieldResource(customField.Name) + " *" }, true); }

                                </div>
                            }
                        </div>


                    }

                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("agreements") <label for="agreements" class="required">&nbsp;<a href="#TermsAndConditions" data-toggle="modal">@Html.GlobalResource("IAgreeToTheTermsAndConditions", Html.GlobalResource("TermsAndConditions"))</a></label>
                        </label>
                        <div class="modal fade" id="TermsAndConditions" tabindex="-1" role="dialog" aria-labelledby="TermsAndConditions" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">
                                            @Html.GlobalResource("TermsAndConditions")
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        @Html.GetSiteContent("TermsAndConditions")
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("Newsletter")
                                <label for="Newsletter">&nbsp;@Html.GlobalResource("ReceiveNewsletter")</label>
                            </label>
                        </div>
                    </div>
                    if (SiteClient.BoolSetting("EnableRecaptchaForRegistration"))
                    {
                        <div class="form-group">
                            <label class="required">@Html.GlobalResource("RecaptchaSecurity")</label>
                            @Html.RenderCaptcha()
                            <p class="instruction-para">All fields marked with " * " are required. </p>
                        </div>
                    }


                    <input type="submit" class="btn btn-success btn-block" value="@Html.GlobalResource("Complete Sign Up")" />


                    @Html.Hidden(Fields.ExternalUserID)
                    @Html.Hidden(Fields.ExternalProvider)

                    @Html.Hidden("Street1", "0000");
                    @Html.Hidden("Street2", "0000");
                    @Html.Hidden("Country", 101);
                    @Html.Hidden("City", "0000");
                    @Html.Hidden("StateRegion", "0000");
                    @Html.Hidden("ZipPostal", "0000");
                }

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
            </div>
        </div>
    </div>
</section>

<!-- #endregion -->
