﻿@model User

@section head {
    @{
        string pageTitle = SiteClient.Settings[SiteProperties.SiteTitle] + " - " + Html.GlobalResourceString("UserNotFound");
        if (Model != null)
        {
            pageTitle = SiteClient.Settings[SiteProperties.SiteTitle] + " - " +
                        Html.GlobalResourceString("FeedbackForUserName", Model.UserName);
        }
        ViewBag.SiteTitle = pageTitle;
    }
}
<div class="col-xs-12">
    @{
        if (Model != null)
        {
            <div class="well well-sm section-title">@Html.GlobalResource("FeedbackForUserName", Model.UserName)</div>
            <div class="row">
                @Html.Partial("ViewFeedback_Summary", ViewData["FeedbackRating"])
            </div>
            <div class="form-group">
                <div class="btn-group btn-group-justified hidden-xs">
                    <a class="btn btn-primary">@Html.GlobalResource("All Review")</a>
                    @Html.ActionLink(Html.GlobalResource("Reviews from buyers"), "ViewSellerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                    @Html.ActionLink(Html.GlobalResource("Reviews from sellers"), "ViewBuyerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                    @Html.ActionLink(Html.GlobalResource("Reviews left for others"), "ViewFeedbackForOthers", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                </div>
                <div class="btn-group-vertical visible-xs">
                    <a class="btn btn-primary">@Html.GlobalResource("All Review")</a>
                    @Html.ActionLink(Html.GlobalResource("Reviews from sellers"), "ViewSellerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                    @Html.ActionLink(Html.GlobalResource("Reviews from buyers"), "ViewBuyerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                    @Html.ActionLink(Html.GlobalResource("Reviews left for others"), "ViewFeedbackForOthers", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                </div>
            </div>
            @*<div class="btn-group btn-group-justified hidden-xs">
                <a class="btn btn-primary">@Html.GlobalResource("All Review")</a>
                @Html.ActionLink(Html.GlobalResource("FeedbackAsSeller"), "ViewSellerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink(Html.GlobalResource("FeedbackAsBuyer"), "ViewBuyerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink(Html.GlobalResource("FeedbackLeftForOthers"), "ViewFeedbackForOthers", new { @userid = Model.ID }, new { @class = "btn btn-default" })
            </div>
            <div class="btn-group-vertical visible-xs">
                <a class="btn btn-primary">@Html.GlobalResource("All Review")</a>
                @Html.ActionLink(Html.GlobalResource("FeedbackAsSeller"), "ViewSellerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink(Html.GlobalResource("FeedbackAsBuyer"), "ViewBuyerFeedback", new { @userid = Model.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink(Html.GlobalResource("FeedbackLeftForOthers"), "ViewFeedbackForOthers", new { @userid = Model.ID }, new { @class = "btn btn-default" })
            </div>*@
            @Html.Partial("ViewFeedbackList_FromOthers", ViewData["FeedbackList"])


        }
        else // User not found.
        {

            <div class="alert alert-danger">@Html.GlobalResource("UserNotFound")</div>


        }
    }


</div>