﻿@model Listing
@{ string returnUrl = Request.Url.PathAndQuery; }
<script type="text/javascript">
    $(document).ready(function () {
        $(".awe-delete-listing-link").click(function () {
            var jsDeleteConfirmMsg = //"Really delete this listing?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("DeleteWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("DeleteWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("DeleteConfirmationTitle").ToJavascriptSafeString()',
                message: jsDeleteConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("Delete").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });
    });

</script>

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" role="menu">
        @if (Html.IsEditable(Model))
        {
            <li> @Html.ActionLink(Html.GlobalResource("Edit"), MVC.EditAction, new { id = Model.ID })</li>
        }
        <li>
            @Html.ActionLink(Html.GlobalResource("Delete"), MVC.DeleteAction, MVC.ListingController,
                            new { id = Model.ID }, new { @class = "awe-delete-listing-link" })
        </li>
        @if (Model.OwnerUserName == Html.FBOUserName())
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("ListSimilar"), MVC.CreateListingPage1Action, MVC.ListingController,
                    new { SimilarListingID = Model.ID }, null)
            </li>
        }
        @if (Model.Status == ListingStatuses.Successful || (Model.Type.Name == ListingTypes.FixedPrice && Model.AcceptedListingActionCount() > 0))
        {
            //var invoices = AccountingClient.GetInvoicesBySeller(Model.Owner.UserName, Model.Owner.UserName, "All", Model.ID.ToString(), "ListingID", 0, 0, "CreatedDTTM", true);
            foreach (var invoice in (List<Invoice>)ViewData["AllInvoices"])
            {
                string linkText = Html.GlobalResourceString("ViewInvoiceToX", invoice.Payer.UserName);
                if (invoice.Status == InvoiceStatuses.New && invoice.Payer.UserName == Html.FBOUserName())
                {
                    linkText = Html.GlobalResourceString("CheckoutForInvoiceX", invoice.ID);
                }
                <li>
                    @Html.ActionLink(linkText, MVC.InvoiceDetailAction, MVC.AccountController, new { @id = invoice.ID, returnUrl }, null)
                </li>
            }
        }
    </ul>
</div>
