﻿@model Listing

<script type="text/javascript">
    $(document).ready(function () {
        $(".awe-end-early-link").click(function () {
            var jsEndEarlyConfirmMsg = //"Really end this listing early?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("EndEarlyWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("EndEarlyWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("EndEarlyConfirmationTitle").ToJavascriptSafeString()',
                message: jsEndEarlyConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("EndEarly").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });
        $(".awe-delete-listing-link").click(function () {
            var jsDeleteConfirmMsg = //"Really delete this listing?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("DeleteWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("DeleteWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("DeleteConfirmationTitle").ToJavascriptSafeString()',
                message: jsDeleteConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("Delete").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });
    });
</script>

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" role="menu">
        @if (Html.IsEditable(Model))
        {
            <li>@Html.ActionLink(Html.GlobalResource("Edit"), MVC.EditAction, new { id = Model.ID })</li>
        }
        @if (Model.OwnerUserName == Html.FBOUserName())
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("Cancel"), MVC.EndEarlyAction, MVC.ListingController,
                    new {id = Model.ID}, new {@class = "awe-end-early-link"})
            </li>
            <li>
                @if (Model.Status == ListingStatuses.AwaitingPayment)
                {
                    @Html.ActionLink(Html.GlobalResource("StartNow"), MVC.FeesAction, MVC.AccountController)
                }
                else
                {
                    @Html.ActionLink(Html.GlobalResource("StartNow"), MVC.StartNowAction, MVC.ListingController,
                        new { id = Model.ID }, null)
                }
            </li>
        }
        <li>
            @Html.ActionLink(Html.GlobalResource("Delete"), MVC.DeleteAction, MVC.ListingController,
                new { id = Model.ID }, new { @class = "awe-delete-listing-link" })
        </li>
        @if (Model.Context.Watched)
        {
            <li>
                <a class="alert-success">@Html.GlobalResource("CurrentlyWatching")</a>
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("WatchItem"), MVC.AddWatchAction, new { id = Model.ID })
            </li>
        }
        @if (Model.OwnerUserName == Html.FBOUserName())
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("ListSimilar"), MVC.CreateListingPage1Action, MVC.ListingController,
                    new { SimilarListingID = Model.ID }, null)
            </li>
        }
    </ul>
</div>
