﻿@model Listing
@{ string returnUrl = Request.Url.PathAndQuery; }
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>

    <ul class="dropdown-menu" role="menu">
        @if (SiteClient.UserMessagingEnabled)
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("Contact"), MVC.SendListingMessageAction, MVC.AccountController,
                    new
                    {
                        receiver = Model.OwnerUserName,
                        template = Templates.AskListingQuestion,
                        listingID = Model.ID,
                        returnUrl = Model.GetDetailUrl()
                    }, null)
            </li>
        }
        @if (SiteClient.FeedbackEnabled)
        {
            if (AccountingClient.GetLineItemsNeedingFeedbackFor(Context.User.Identity.Name, Model.ID, Html.FBOUserName()).Count > 0)
            {
                <li>
                    @(Html.ActionLink(Html.GlobalResource("SubmitFeedback"), MVC.SubmitFeedbackAction, MVC.AccountController,
                        new { ListingID = Model.ID, Sender = Html.FBOUserName(), Receiver = Model.OwnerUserName }, null))
                </li>
            }
        }
        @if (Model.Status == ListingStatuses.Successful || (Model.Type.Name == ListingTypes.FixedPrice && Model.AcceptedListingActionCount() > 0))
        {
            //var invoices = AccountingClient.GetInvoicesBySeller(Model.Owner.UserName, Model.Owner.UserName, "All", Model.ID.ToString(), "ListingID", 0, 0, "CreatedDTTM", true);
            foreach (var invoice in ((List<Invoice>)ViewData["AllInvoices"]).Where(i => i.Payer.UserName == Html.FBOUserName()))
            {
                string linkText = Html.GlobalResourceString("ViewInvoiceX", invoice.ID);
                if (invoice.Status == InvoiceStatuses.New)
                {
                    linkText = Html.GlobalResourceString("CheckoutForInvoiceX", invoice.ID);
                }
                <li>
                    @Html.ActionLink(linkText, MVC.InvoiceDetailAction, MVC.AccountController, new { @id = invoice.ID, returnUrl }, null)
                </li>
            }
        }
    </ul>
</div>
