﻿@model Listing
@{ string returnUrl = Request.Url.PathAndQuery; }
<script type="text/javascript">
    $(document).ready(function () {
        $(".awe-end-early-link").click(function () {
            var jsEndEarlyConfirmMsg = //"Really end this listing early?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("EndEarlyWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("EndEarlyWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("EndEarlyConfirmationTitle").ToJavascriptSafeString()',
                message: jsEndEarlyConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("EndEarly").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });
        $(".awe-delete-listing-link").click(function () {
            var jsDeleteConfirmMsg = //"Really delete this listing?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("DeleteWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("DeleteWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("DeleteConfirmationTitle").ToJavascriptSafeString()',
                message: jsDeleteConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("Delete").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });

        //initial update Listing "Options" dropdown
        $('[data-listingid="@(Model.ID)"] .awe-rt-hideable').each(function () {
            $(this).hide();
        });
        $('[data-listingid="@(Model.ID)"] .awe-rt-ShowStatus@(Model.Status)').each(function () {
            $(this).show();
        });
    });
</script>

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" role="menu">
        @if (User.Identity.IsAuthenticated)
        {
            bool theSeller = Html.FBOUserName() == Model.OwnerUserName;
            bool anAdmin = User.IsInRole("Admin");
            if (theSeller || anAdmin)
            {
                <li class="awe-rt-hideable awe-rt-ShowStatusDraft">
                    @Html.ActionLink(Html.GlobalResource("ActivateListing"), MVC.ActivateListingsAction, MVC.AccountController, new
                        {
                            ListingIDs = Model.ID,
                            page = ViewData[MVC.PageIndex],
                            SearchTerm = ViewData[Fields.SearchTerm],
                            SearchType = ViewData[Fields.SearchType],
                            SortFilterOptions = ViewData[MVC.SortFilterOptions],
                            returnUrl
                        }, null)
                </li>
                if (theSeller)
                {
                    <li class="awe-rt-hideable awe-rt-ShowStatusAwaitingPayment">
                        @Html.ActionLink(Html.GlobalResource("PayFees"), MVC.FeesAction, MVC.AccountController)
                    </li>
                }
                if (anAdmin)
                {
                    <li class="awe-rt-hideable awe-rt-ShowStatusDraft awe-rt-ShowStatusAwaitingPayment awe-rt-ShowStatusPreview awe-rt-ShowStatusPending awe-rt-ShowStatusActive">
                        @Html.ActionLink(Html.GlobalResource("Edit"), MVC.EditAction, new { id = Model.ID })
                    </li>
                }
                else //theSeller can't edit when awaiting payment
                {
                    <li class="awe-rt-hideable awe-rt-ShowStatusDraft awe-rt-ShowStatusPreview awe-rt-ShowStatusPending awe-rt-ShowStatusActive">
                        @Html.ActionLink(Html.GlobalResource("Edit"), MVC.EditAction, new { id = Model.ID })
                    </li>
                }
                <li class="awe-rt-hideable awe-rt-ShowStatusActive">
                    @Html.ActionLink(Html.GlobalResource("EndEarly"), MVC.EndEarlyAction, MVC.ListingController,
                        new { id = Model.ID }, new { @class = "awe-end-early-link" })
                </li>
                <li class="awe-rt-hideable awe-rt-ShowStatusPending awe-rt-ShowStatusPreview">
                    @Html.ActionLink(Html.GlobalResource("Cancel"), MVC.EndEarlyAction, MVC.ListingController,
                        new { id = Model.ID }, new { @class = "awe-end-early-link" })
                </li>
                <li class="awe-rt-hideable awe-rt-ShowStatusPending awe-rt-ShowStatusPreview">
                    @Html.ActionLink(Html.GlobalResource("StartNow"), MVC.StartNowAction, MVC.ListingController,
                        new { id = Model.ID }, null)
                </li>
                if (theSeller)
                {
                    <li>
                        @Html.ActionLink(Html.GlobalResource("ListSimilar"), MVC.CreateListingPage1Action, MVC.ListingController,
                            new { SimilarListingID = Model.ID }, null)
                    </li>
                }
                if (anAdmin) // admin can always delete a listing
                {
                    <li>
                        @Html.ActionLink(Html.GlobalResource("Delete"), MVC.DeleteAction, MVC.ListingController,
                            new { id = Model.ID }, new { @class = "awe-delete-listing-link" })
                    </li>
                }
                else // theSeller can only delete lots with certain statuses
                {
                    <li class="awe-rt-hideable awe-rt-ShowStatusDraft awe-rt-ShowStatusSuccessful awe-rt-ShowStatusUnsuccessful awe-rt-ShowStatusEnded">
                        @Html.ActionLink(Html.GlobalResource("Delete"), MVC.DeleteAction, MVC.ListingController,
                            new { id = Model.ID }, new { @class = "awe-delete-listing-link" })
                    </li>
                }
                <li class="awe-rt-hideable awe-rt-ShowStatusUnsuccessful awe-rt-ShowStatusEnded">
                    @Html.ActionLink(Html.GlobalResource("Relist"), MVC.RelistAction, MVC.AccountController,
                        new { id = Model.ID }, null)
                </li>
                if (!theSeller)
                {
                    <li class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview">
                        @Html.ActionLink(Html.GlobalResource("WatchItem"), MVC.AddWatchAction, new { id = Model.ID })
                    </li>
                }
            }
            else
            {
                <li class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview">
                    @Html.ActionLink(Html.GlobalResource("WatchItem"), MVC.AddWatchAction, new { id = Model.ID })
                </li>
                if (SiteClient.UserMessagingEnabled)
                {
                    <li class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview awe-rt-ShowStatusSuccessful">
                        @Html.ActionLink(Html.GlobalResource("Contact"), MVC.SendListingMessageAction, MVC.AccountController,
                            new { receiver = Model.OwnerUserName, template = Templates.AskListingQuestion, listingID = Model.ID, returnUrl = Model.GetDetailUrl() }, null)
                    </li>
                }
            }

            if (anAdmin)
            {
                <li class="awe-rt-hideable awe-rt-ShowStatusActive">
                    @Html.ActionLink(Html.GlobalResource("Extend10Minutes"), MVC.Extend10MinutesAction, MVC.AdminController,
                        new { id = Model.ID }, null)
                </li>
            }

            if (SiteClient.FeedbackEnabled)
            {
                List<LineItem> feedbackList = AccountingClient.GetLineItemsNeedingFeedbackFor(Context.User.Identity.Name, Model.ID, Html.FBOUserName());
                if (feedbackList.Count > 0)
                {
                    if (theSeller)
                    {
                        Dictionary<string, string> fbButtonRendered = new Dictionary<string, string>();
                        foreach (LineItem sale in feedbackList)
                        {
                            if (!fbButtonRendered.ContainsKey(sale.Payer.UserName))
                            {
                                fbButtonRendered.Add(sale.Payer.UserName, "rendered");
                                <li>
                                    @Html.ActionLink(Html.GlobalResource("SubmitFeedback") + ": " + sale.Payer.UserName, MVC.SubmitFeedbackAction, MVC.AccountController,
                                        new { ListingID = Model.ID, Sender = Html.FBOUserName(), Receiver = sale.Payer.UserName }, null)
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink(Html.GlobalResource("SubmitFeedback") + ": " + Model.OwnerUserName, MVC.SubmitFeedbackAction, MVC.AccountController,
                                        new { ListingID = Model.ID, Sender = Html.FBOUserName(), Receiver = Model.OwnerUserName }, null)
                        </li>
                    }
                }
            }

            if (Model.Status == ListingStatuses.Successful || (Model.Type.Name == ListingTypes.FixedPrice && Model.AcceptedListingActionCount() > 0))
            {
                var allInvoices = (List<Invoice>)ViewData["AllInvoices"];
                IEnumerable<Invoice> invoicesToDisplay;
                if (theSeller || anAdmin)
                {
                    invoicesToDisplay = allInvoices;
                }
                else
                {
                    invoicesToDisplay = allInvoices.Where(i => i.Payer.UserName == Html.FBOUserName());
                }
                foreach (var invoice in invoicesToDisplay)
                {
                    string linkText = Html.GlobalResourceString("ViewInvoiceToX", invoice.Payer.UserName);
                    if (invoice.Status == InvoiceStatuses.New && invoice.Payer.UserName == Html.FBOUserName())
                    {
                        linkText = Html.GlobalResourceString("CheckoutForInvoiceX", invoice.ID);
                    }
                    else if (invoice.Payer.UserName == Html.FBOUserName())
                    {
                        linkText = Html.GlobalResourceString("ViewInvoiceX", invoice.ID);
                    }
                    <li>
                        @Html.ActionLink(linkText, MVC.InvoiceDetailAction, MVC.AccountController, new { @id = invoice.ID, returnUrl }, null)
                    </li>
                }
            }

        }
        else
        {
            //not logged in...
            <li>
                @Html.ActionLink(Html.GlobalResource("SignIn"), MVC.LogOnAction, MVC.AccountController,
                new { returnUrl = Model.GetDetailUrl() }, null)
            </li>
            if (SiteClient.UserMessagingEnabled)
            {
                <li class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview awe-rt-ShowStatusSuccessful">
                    @Html.ActionLink(Html.GlobalResource("Contact"), MVC.SendListingMessageAction, MVC.AccountController,
                        new { receiver = Model.OwnerUserName, template = Templates.AskListingQuestion, listingID = Model.ID, returnUrl = Model.GetDetailUrl() }, null)
                </li>
            }
            <li class="awe-rt-hideable awe-rt-ShowStatusActive awe-rt-ShowStatusPreview">
                @Html.ActionLink(Html.GlobalResource("WatchItem"), MVC.AddWatchAction, new { id = Model.ID })
            </li>
        }
    </ul>
</div>
