﻿@model Address

<script type="text/javascript">
    function GetStates(countryID) {
        var retVal = null;
        Proxy.invoke("GetStates", { countryID: countryID },
    function (result) {
        //draw radio buttons
        $("span#warncountry").hide();
        $("select[name='StateDropDown']").empty();
        if (result == "NOSTATES") {
            $("li#stateSelection").hide();
            $("input[name='StateRegion']").hide();
            $("select[name='StateDropDown']").hide();
            $("input[name='StateRegion']").val("!");
        } else if (result.length > 0) {
            $("select[name='StateDropDown']").append("<option value=''>@Html.GlobalResource("SelectAState")</option>");
            for (state in result) {
                $("select[name='StateDropDown']").append("<option value='" + result[state].Code + "'>" + result[state].Name + "</option>");
            }
            $("input[name='StateRegion']").hide();

            if ($("input[name='StateRegion']").val() == "") {
                $("input[name='StateRegion']").val($("select[name='StateDropDown'] option:first-child").val());
            } else {
                $("select[name='StateDropDown']").val($("input[name='StateRegion']").val());
            }

            $("select[name='StateDropDown']").show();
            $("li#stateSelection").show();
        } else if (result.length == 0) {
            $("input[name='StateRegion']").show();
            $("select[name='StateDropDown']").hide();
            $("li#stateSelection").show();
        }
    },
    function (error) { window.alert(error); });
        return retVal;
    }

    $(document).ready(function () {
        $("select[name='Country']").change(function () {
            if ($(this).val() != "") {
                GetStates($(this).val());
            } else {
                $("span#warncountry").show();
                $("input[name='StateRegion']").hide();
                $("select[name='StateDropDown']").hide();
            }
        });
        $("select[name='StateDropDown']").change(function () {
            $("input[name='StateRegion']").val($("select[name='StateDropDown']").val());
        });
        if ($("select[name='Country']").val() != "") GetStates($("select[name='Country']").val());
    });
</script>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="Description" class="control-label required">@Html.GlobalResource("Description")</label>
            @Html.TextBox("Description", Model.Description, new { @class="form-control input-sm" })
            <small> <span class="help-block">@Html.GlobalResource("AddressDescription_Help")</span></small>
        </div>
        <div class="form-group">
            <label for="FirstName" class="control-label required">@Html.GlobalResource("FirstName")</label>
            @Html.TextBox(Fields.FirstName, Model.FirstName, new { @class="form-control input-sm" })
        </div>
        <div class="form-group">
            <label for="LastName" class="control-label required">@Html.GlobalResource("LastName")</label>
            @Html.TextBox(Fields.LastName, Model.LastName, new { @class="form-control input-sm" })
        </div>
        <div class="form-group">
            <label for="Street1" class="control-label required">@Html.GlobalResource("AddressStreet1")</label>
            @Html.TextBox("Street1", Model.Street1, new { @class="form-control input-sm" })
        </div>
        <div class="form-group">
            <label for="Street2" class="control-label">@Html.GlobalResource("AddressStreet2")</label>
            @Html.TextBox("Street2", Model.Street2, new { @class="form-control input-sm" })
        </div>
        <div class="form-group">
            <label for="Country" class="control-label required">@Html.GlobalResource("CountryTerritory")</label>
            <span class="Form_Registration_Country">@Html.DropDownList("Country",null, Html.GlobalResourceString("SelectACountry"), new { @class = "form-control input-sm"})</span>
        </div>
        <div class="form-group">
            <label for="City" class="control-label required">@Html.GlobalResource("City")</label>
            @Html.TextBox("City", Model.City, new { @class="form-control input-sm" })
        </div>
        <div id="stateSelection" class="form-group">
            <label for="StateRegion" class="control-label required">@Html.GlobalResource("StateRegion")</label>
            @Html.TextBox("StateRegion", Model.StateRegion, new {@class = "awe-hidden form-control input-sm" })
            <select name="StateDropDown" class="awe-hidden form-control input-sm"></select>
            <span id="warncountry"><strong class="Required">@Html.GlobalResource("SelectCountryFirst")</strong></span>
        </div>
        <div class="form-group">
            <label for="ZipPostal" class="control-label required">@Html.GlobalResource("ZipPostal")</label>
            @Html.TextBox("ZipPostal", Model.ZipPostal, new { @class = "form-control input-sm" })
        </div>

    </div>
</div>