﻿@model Event
<div class="panel panel-default event-data" data-eventid="@Model.ID">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-7 col-md-9 clearfix">
                <h1 class="event-title">
                    @Model.BeginDetailLink()@Model.Title@Model.EndDetailLink()

                    <small> (<span class="awe-rt-Status">@Model.Status</span> #@Model.ID)</small>
                </h1>
                @if (!string.IsNullOrEmpty(Model.TermsAndConditions))
            {
                    <a data-toggle="modal" href="#TermsAndConditions"><span class="glyphicon glyphicon-list-alt"></span>@Html.GlobalResource("TermsAndConditions")</a><br />
                }
                @if (!string.IsNullOrEmpty(Model.ShippingInfo))
            {
                    <a data-toggle="modal" href="#ShippingInformation"><span class="glyphicon glyphicon-envelope"></span>@Html.GlobalResource("ShippingInformation")</a>
                }
                <div class="modal fade" id="TermsAndConditions">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                @Model.TermsAndConditions.ToMvcHtmlString()
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ShippingInformation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                @Model.ShippingInfo.ToMvcHtmlString()
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                            </div>
                        </div>
                    </div>
                </div>
                @{ var nonImageMedia = Model.Media.Where(m => !m.Variations.ContainsKey(SiteClient.ThumbnailType));}
                @if (nonImageMedia.Count() > 0)
            {
                    <p>
                        @foreach (Media media in nonImageMedia)
                        {
                            <div class="event-media">@Html.Partial(media.Type + "_" + media.DefaultVariationName, media)</div>
                        }
                    </p>
                }
            </div>
            <div class="col-sm-5 col-md-3">
                @if (!string.IsNullOrEmpty(Model.ManagedByName))
            {
                    <p>
                        <strong>
                            @Html.GlobalResource("ManagedByX", Model.ManagedByName)
                        </strong>
                    </p>
                }
                @if (Model.BuyersPremiumPercent > 0)
            {

                    <div class="data-card small">
                        @Model.BuyersPremiumPercent.ToString("n")&#37; &nbsp;@Html.GlobalResource("BuyersPremium")
                    </div>
                }
                @if (Model.ProxyBidding)
            {
                    <div class="data-card small">
                        @Html.GlobalResource("EventUsesProxy")
                    </div>
                }
            </div>
        </div>
    </div>
</div>