﻿@model Page<Listing>

@{
    Layout = "~/Views/Account/_MyAccountLayout.cshtml";
    List<CustomProperty> auctionProperties = ListingClient.GetListingTypeProperties(ListingTypes.Auction, "Site");
    bool reserveEnabled = bool.Parse(auctionProperties.Single(ap => ap.Field.Name == SiteProperties.EnableReserve).Value);
}

<div class="well well-sm section-title">
    @Html.GlobalResource("LineageString_Bidding_Active")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("select#SortFilterOptions").change(function () {
            $("input#submitDropDown").click();
        });
    });
</script>
<div class="panel panel-default">
    @using (Html.BeginForm(new { page = 0 }))
    {
        <div class="row">
            <div class="col-sm-4 col-sm-offset-8 form-group">
                <div class="input-group">
                    <div class="input-group-addon">@Html.GlobalResource("Sort")</div>
                    @Html.DropDownList(MVC.SortFilterOptions, null, new { @class = "form-control" })
                </div>
                <input type="submit" id="submitDropDown" class="awe-hidden" />
            </div>
        </div>
    }
    <div class="heading">
        <div class="row">
            <div class="col-sm-2 hidden-xs">
                <!-- Image container -->
            </div>
            <div class="col-sm-7">
                @Html.GlobalResource("Title") <em>(@Html.GlobalResource("ListingID"))</em>
                <br />
                @Html.GlobalResource("CurrentPrice") &nbsp;|&nbsp; @Html.GlobalResource("MyBid")
            </div>
            <div class="col-sm-3">
                @Html.GlobalResource("RemainingTime")
            </div>
        </div>
    </div>
    @foreach (Listing listing in Model.List)
    {
        @Html.Partial(listing.Type.Name + "BiddingRow", listing)
    }
    @if (Model.TotalItemCount == 0)
    {
        <p class="no-history">
            @Html.GlobalResource("NoActiveBids")
        </p>
    }
</div>
@if (Model.TotalPageCount > 1)
{
    Html.RenderPageNumberLinks(Model);
}


<div class="well well-sm section-title">
    <strong>@Html.GlobalResource("ColorKey")</strong>
    <span class="winning key">@Html.GlobalResource("WinningBid")</span>
    @if (reserveEnabled)
    {
        <span class="winning-reserve key">@Html.GlobalResource("WinningBidBelowReserve")</span>
    }
    <span class="not-winning key">@Html.GlobalResource("Outbid")</span>
</div>
