﻿@{
    Layout = "~/Views/Account/_MyAccountLayout.cshtml";
}

<div class="well well-sm section-title">
    @Html.GlobalResource("AddressInformation")
</div>
@Html.LocalizedValidationSummary()
@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.Partial("AddressEditor", new Address())
            </div>
            @Html.Hidden(Fields.SetBillingAddress)
            @Html.Hidden(Fields.SetShippingAddress)
        </div>
        <div class="panel-footer">
            <input type="submit" class="btn btn-default" value="@Html.GlobalResource("Save")" />
            @if (ViewData[Fields.SetBillingAddress] != null)
            {
                @Html.ActionLink(Html.GlobalResource("Cancel"), MVC.SetBillingAddressAction, new { invoiceID = ViewData[Fields.SetBillingAddress] }, new { @class = "btn btn-link" })
            }
            else if (ViewData[Fields.SetShippingAddress] != null)
            {
                @Html.ActionLink(Html.GlobalResource("Cancel"), MVC.SetShippingAddressAction, new { invoiceID = ViewData[Fields.SetShippingAddress] }, new { @class = "btn btn-link" })
            }
            else
            {
                @Html.ActionLink(Html.GlobalResource("Cancel"), MVC.AddressManagementAction, null, new { @class = "btn btn-link" })
            }
        </div>
    </div>
}