﻿@model Address

<script type="text/javascript">
    function GetStates(countryID) {
        var retVal = null;
        Proxy.invoke("GetStates", { countryID: countryID },
    function (result) {
        //draw radio buttons
        $("span#warncountry").hide();
        $("select[name='StateDropDown']").empty();        
        if (result == "NOSTATES") {
            $("div#stateSelection").hide();
            $("input[name='StateRegion']").hide();
            $("select[name='StateDropDown']").hide();
            $("input[name='StateRegion']").val("!");            
        } else if (result.length > 0) {
            $("select[name='StateDropDown']").append("<option value=''>@Html.GlobalResource("SelectAState")</option>");
            for (state in result) {
                $("select[name='StateDropDown']").append("<option value='" + result[state].Code + "'>" + result[state].Name + "</option>");
            }
            $("input[name='StateRegion']").hide();

            if ($("input[name='StateRegion']").val() == "") {
                $("input[name='StateRegion']").val($("select[name='StateDropDown'] option:first-child").val());
            } else {
                $("select[name='StateDropDown']").val($("input[name='StateRegion']").val());
            }

            $("select[name='StateDropDown']").show();
            $("div#stateSelection").show();
        } else if (result.length == 0) {
            $("input[name='StateRegion']").show();
            $("select[name='StateDropDown']").hide();
            $("div#stateSelection").show();
        }
    },
    function (error) { window.alert(error); });
        return retVal;
    }

    $(document).ready(function () {
        $("select[name='Country']").change(function () {
            if ($(this).val() != "") {
                GetStates($(this).val());
            } else {
                $("span#warncountry").show();
                $("input[name='StateRegion']").hide();
                $("select[name='StateDropDown']").hide();
            }
        });
        $("select[name='StateDropDown']").change(function () {
            $("input[name='StateRegion']").val($("select[name='StateDropDown']").val());
        });
        if ($("select[name='Country']").val() != "") GetStates($("select[name='Country']").val());
    });
</script>
<div class="panel panel-default">
    <div class="panel-heading">
        @Html.GlobalResource("AddressInformation")
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="Street1" class="required col-sm-3 control-label">@Html.GlobalResource("AddressStreet1")</label>
                <div class="col-sm-6">
                    @Html.TextBox("Street1", Model.Street1, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Street2" class="col-sm-3 control-label">@Html.GlobalResource("AddressStreet2")&nbsp;</label>
                <div class="col-sm-6">
                    @Html.TextBox("Street2", Model.Street2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Country" class="required col-sm-3 control-label">@Html.GlobalResource("CountryTerritory")</label>
                <div class="col-sm-6">
                    <span class="Form_Registration_Country">@Html.DropDownList("Country", null, Html.GlobalResourceString("SelectACountry"), new { @class = "form-control" })</span>
                </div>
            </div>
            <div class="form-group">
                <label for="City" class="required col-sm-3 control-label">@Html.GlobalResource("City")</label>
                <div class="col-sm-6">
                    @Html.TextBox("City", Model.City, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group" id="stateSelection">
                <label for="StateRegion" class="required col-sm-3 control-label">@Html.GlobalResource("StateRegion")</label>
                <div class="col-sm-6">
                    @Html.TextBox("StateRegion", Model.StateRegion, new { @class = "form-control awe-hidden" })
                    <select name="StateDropDown" class="form-control awe-hidden"></select>
                    <span id="warncountry" class="help-block">@Html.GlobalResource("SelectCountryFirst")</span>
                </div>
            </div>
            <div class="form-group">
                <label for="ZipPostal" class="required col-sm-3 control-label">@Html.GlobalResource("ZipPostal")</label>
                <div class="col-sm-3">
                    @Html.TextBox("ZipPostal", Model.ZipPostal, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
