﻿@model Listing
<div class="list clearfix">
    <div class="row">
        <div class="col-sm-2">
            @{
                if (string.IsNullOrEmpty(Model.PrimaryImageURI))
                {
                    @Html.Partial("NoPhotoThumbnail")
                }
                else
                {
                    string uri = string.Format(Model.PrimaryImageURI, SiteClient.ThumbnailType.ToLower());
                    @Model.BeginDetailLink()
                    <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                    @Model.EndDetailLink()
                }
            }
        </div>
        <div class="col-sm-9">
            <p>
                <strong>
                    @Model.DetailLink(Model.Title) <em>(@Model.ID)</em>
                </strong>
            </p>
            <p>
                @if (Model.IsGoodTilCanceled())
                {
                    @Html.GlobalResource("GtcDateValue")
                }
                else
                {
                    @Html.LocalDTTM(Model.EndDTTM.Value, "G")
                }
            </p>
        </div>
        <div class="col-sm-2">
            @Html.GlobalResource("NA")
        </div>
        <div class="col-sm-2">
            @Html.LocalCurrency(Model.CurrentPrice.Value, Model.Currency.Code)
        </div>
        <div class="col-sm-2">
            @Html.GlobalResource("NA")
        </div>
        <div class="col-sm-2">
            @Model.CurrentQuantity
        </div>
    </div>
        @Html.Partial("Action_Seller")
</div>

