﻿@model Listing
<div class="list clearfix">
    <div class="row">
        <div class="col-sm-2">
            @{
                if (string.IsNullOrEmpty(Model.PrimaryImageURI))
                {
                    @Html.Partial("NoPhotoThumbnail")
                }
                else
                {
                    string uri = string.Format(Model.PrimaryImageURI, SiteClient.ThumbnailType.ToLower());
                    @Model.BeginDetailLink()
                    <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                    @Model.EndDetailLink()
                }
            }
        </div>
        <div class="col-sm-6">
            <p>
                <strong>
                    @Model.DetailLink(Model.Title) <em>(@Model.ID)</em>
                </strong>
            </p>
            <div class="row">
                <div class="col-sm-6">
                    @if (Model.OriginalPrice.HasValue)
                    {
                        @Html.LocalCurrency(Model.OriginalPrice.Value, Model.Currency.Code)
                    }
                </div>
                <div class="col-sm-6">@Html.GlobalResource("NA")</div>
            </div>
        </div>
        <div class="col-sm-3">
            @Html.LocalDTTM(Model.StartDTTM.Value, "G")
            <br />
            @if (Model.IsGoodTilCanceled())
            {
                @Html.GlobalResource("GtcDateValue")
            }
            else
            {
                @Html.LocalDTTM(Model.EndDTTM.Value, "G")
            }
        </div>
    </div>
@Html.Partial("Action_SellerPending")
</div>