﻿@section head {
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[type='submit']").click(function (event) {
                //prevent form submission temporarily
                event.preventDefault();
                //disable submit button
                $(this).prop("disabled", true);
                //submit container form
                $(this).parents("form").first().submit();
            });
    @if (SiteClient.BoolSetting(SiteProperties.RequireCreditCardOnRegistration) && SiteClient.BoolSetting(SiteProperties.StripeConnect_Enabled))
    {
        <text>
            Stripe.setPublishableKey('@SiteClient.TextSetting(SiteProperties.StripeConnect_SiteFeesPublishableApiKey).ToJavascriptSafeString()');

            var $form = $("#RegistrationForm");
            $form.submit(function (event) {
                var existingToken = $("#@Fields.StripeToken").val();
                if (existingToken == null || existingToken == "") {
                    //copy name/zip values to hidden stripe fields
                    $("#stripe_name").val($("#FirstName").val() + " " + $("#LastName").val());
                    $("#stripe_address_zip").val($("#ZipPostal").val());

                    // Disable the submit button to prevent repeated clicks:
                    $form.find("#CompleteRegistrationButton").prop("disabled", true);

                    // Request a token from Stripe:
                    Stripe.card.createToken($form, stripeResponseHandler);

                    // Prevent the form from being submitted:
                    return false;
                }
            });

            function stripeResponseHandler(status, response) {
                // Grab the form:
                var $form = $("#RegistrationForm");

                if (response.error)
                { // Problem!

                    // Show the errors on the form:
                    $form.find('.payment-errors').text(response.error.message);
                    $form.find("#CompleteRegistrationButton").prop('disabled', false); // Re-enable submission

                }
                else
                { // Token was created!

                    // Get the token ID:
                    var token = response.id;

                    // Insert the token ID into the form so it gets submitted to the server:
                    $("#@Fields.StripeToken").val(token);

                    // Submit the form:
                    $form.get(0).submit();
                }
            };
        </text>
    }
        });
    </script>
}
<div class="row">
    <div class="col-xs-12">
        <div class="well well-sm section-title">
            @Html.GlobalResource("CreateAnAccount")
        </div>
        <div id="Form_Registration">
            @Html.LocalizedValidationSummary()
            @using (Html.BeginForm(MVC.RegisterAction, MVC.AccountController, FormMethod.Post, new { @id = "RegistrationForm" }))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.GlobalResource("CreateLogin")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="Username" class="required col-sm-3 control-label">@Html.GlobalResource("Username")</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("UserName", "", new { @class = "form-control" })
                                    <span class="help-block">@Html.GlobalResource("NewUserNameHelpText")</span>
                                </div>
                            </div>

                            @if (string.IsNullOrWhiteSpace((string)ViewData[Fields.ExternalProvider]) ||
                                 string.IsNullOrWhiteSpace((string)ViewData[Fields.ExternalUserID]))
                            {
                                <div class="form-group">
                                    <label for="Password" class="required col-sm-3 control-label">@Html.GlobalResource("Password")</label>
                                    <div class="col-sm-6">
                                        @Html.Password("Password", "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="confirmPassword" class="required col-sm-3 control-label">@Html.GlobalResource("ConfirmPassword")</label>
                                    <div class="col-sm-6">
                                        @Html.Password("confirmPassword", "", new { @class = "form-control" })
                                        <span class="help-block">
                                            @Html.GlobalResource("PasswordRequirements")
                                            @Html.GlobalResource("PasswordsCaseSensitive")
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                if (SiteClient.Settings["EnableSecurityQuestionAndAnswer"].Equals("True"))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @Html.GlobalResource("SecurityQuestion")
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="PasswordQuestion" class="col-sm-3 control-label">@Html.GlobalResource("CreateASecurityQuestion")</label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("PasswordQuestion", "", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PasswordAnswer" class="col-sm-3 control-label">@Html.GlobalResource("AnswerToSecurityQuestion")</label>
                                    <div class="col-sm-6">
                                        @Html.TextBox("PasswordAnswer", "", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.GlobalResource("YourContactInformation")
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="Email" class="required col-sm-3 control-label">@Html.GlobalResource("Email")</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("Email", "", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmEmail" class="required col-sm-3 control-label">@Html.GlobalResource("ConfirmEmail")</label>
                                <div class="col-sm-6">
                                    @Html.TextBox("confirmEmail", "", new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                List<CustomField> userFields = (List<CustomField>)ViewData[Fields.UserCustomFields];
                if (userFields.Count > 0)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @Html.GlobalResource("AdditionalInformation")
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @foreach (CustomField customField in userFields.OrderBy(ucf => ucf.DisplayOrder))
                                {
                                    string customFieldCss = (customField.Type != CustomFieldType.Boolean && customField.Required)
                                        ? "required col-sm-3 control-label"
                                        : "col-sm-3 control-label";
                                    <div class="form-group">
                                        <label for="@customField.Name" class="@customFieldCss">
                                            @Html.CustomFieldResource(customField.Name)
                                        </label>
                                        <div class="col-sm-6">
                                            @{ Html.RenderCustomField(customField, new { @class = "form-control" }, true); }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }

                if (SiteClient.BoolSetting(SiteProperties.RequireAddressOnRegistration))
                {
                    @Html.Partial("InitialAddress", new Address())

                    //Address needed for credit card
                    if (SiteClient.BoolSetting(SiteProperties.RequireCreditCardOnRegistration))
                    {
                        if (SiteClient.BoolSetting(SiteProperties.StripeConnect_Enabled))
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @Html.GlobalResource("CreditCardInformation")
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        @Html.Hidden(Fields.StripeToken)
                                        <span class="payment-errors"></span>
                                        <input type="hidden" id="stripe_name" stripe-data="name" />
                                        <input type="hidden" id="stripe_address_zip" data-stripe="address_zip" />

                                        <div class="form-group">
                                            <label class="required col-sm-3 col-xs-1 control-label"><strong style="font-size: larger">#</strong></label>
                                            <div class="col-sm-6 col-xs-10">
                                                <input data-stripe="number" type="text" class="CreditCardNumber OnChangeCheckNew form-control" placeholder="@Html.GlobalResource("CardNumber")" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="required col-sm-3 col-xs-1 control-label"><span class="glyphicon glyphicon-calendar"></span></label>
                                            <div class="col-sm-2 col-xs-5">
                                                @*@Html.MonthDropDownList(Fields.ExpirationMonth, " ", new { @class = "CreditCardExpMonth OnChangeCheckNew form-control" })*@
                                                <select data-stripe="exp_month" class="CreditCardExpMonth OnChangeCheckNew form-control">
                                                    <option value=""> </option>
                                                    @foreach (var monthOption in Html.MonthOptions())
                                                    {
                                                        <option value="@monthOption.Value">@monthOption.Text</option>
                                                    }
                                                </select>
                                                <span class="help-block">@Html.GlobalResource("Month")</span>
                                            </div>
                                            <div class="col-sm-2 col-xs-5">
                                                @*@Html.YearDropDownList(Fields.ExpirationYear, " ", new { @class = "CreditCardExpYear OnChangeCheckNew form-control" })*@
                                                <select data-stripe="exp_year" class="CreditCardExpYear OnChangeCheckNew form-control">
                                                    <option value=""> </option>
                                                    @foreach (var yearOption in Html.YearOptions())
                                                    {
                                                        <option value="@yearOption.Value">@yearOption.Text</option>
                                                    }
                                                </select>
                                                <span class="help-block">@Html.GlobalResource("Year")</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="required col-sm-3 col-xs-1 control-label"><span class="glyphicon glyphicon-lock"></span> </label>
                                            <div class="col-sm-6 col-xs-10">
                                                @*@Html.TextBox(Fields.VerificationCode, string.Empty, new { @class = "CreditCardCVV OnChangeCheckNew form-control", placeholder = @Html.GlobalResource("VerificationCode") })*@
                                                <input data-stripe="cvc" type="text" class="CreditCardCVV OnChangeCheckNew form-control" placeholder="@Html.GlobalResource("VerificationCode")" />
                                            </div>
                                            <div class="col-sm-1 col-xs-1">
                                                @Html.ToolTipButton("CVV_Help")
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">@Html.ToolTipContent("CVV_Help", Html.GlobalResource("CVV_Help"))</div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    @Html.GlobalResource("CreditCardInformation")
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label for="@Fields.CardType" class="required col-sm-3 control-label">@Html.GlobalResource("CardType")</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownList("CardType", (IEnumerable<SelectListItem>)ViewData[Fields.CreditCardTypes], Html.GlobalResourceString("SelectACreditCardType"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="@Fields.CardNumber" class="required col-sm-3 control-label">@Html.GlobalResource("CardNumber")</label>
                                            <div class="col-sm-6">
                                                @Html.TextBox(Fields.CardNumber, null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="@Fields.ExpirationMonth" class="required col-sm-3 control-label">@Html.GlobalResource("ExpirationMonth")</label>
                                            <div class="col-sm-3">
                                                @Html.MonthDropDownList(Fields.ExpirationMonth, string.Empty, new { @class = "form-control", placeholder = @Html.GlobalResource("Month") })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="@Fields.ExpirationYear" class="required col-sm-3 control-label">@Html.GlobalResource("Year")</label>
                                            <div class="col-sm-3">
                                                @Html.YearDropDownList(Fields.ExpirationYear, string.Empty, new { @class = "form-control", placeholder = @Html.GlobalResource("Year") })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.GlobalResource("Agreements")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("agreements") <label for="agreements" class="required">&nbsp;<a href="#TermsAndConditions" data-toggle="modal">@Html.GlobalResource("IAgreeToTheTermsAndConditions", Html.GlobalResource("TermsAndConditions"))</a></label>
                                </label>
                                <div class="modal fade" id="TermsAndConditions" tabindex="-1" role="dialog" aria-labelledby="TermsAndConditions" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">
                                                    @Html.GlobalResource("TermsAndConditions")
                                                </h4>
                                            </div>
                                            <div class="modal-body">
                                                @Html.GetSiteContent("TermsAndConditions")
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBox("Newsletter")
                                    <label for="Newsletter">&nbsp;@Html.GlobalResource("ReceiveNewsletter")</label>
                                </label>
                            </div>
                        </div>
                        @if (SiteClient.BoolSetting("EnableRecaptchaForRegistration"))
                        {
                            <div class="form-group">
                                <label class="required">@Html.GlobalResource("RecaptchaSecurity")</label>
                                @Html.RenderCaptcha()
                            </div>
                        }
                    </div>
                    <div class="col-xs-12">
                        @Html.GetSiteContent("RegistrationCopy")
                    </div>
                    <div class="panel-footer">
                        <div class="pull-right hidden-xs">@Html.GlobalResource("RequiredFields", "<span class=\"required\"></span>")</div>
                        <input type="submit" id="CompleteRegistrationButton" class="btn btn-success" value="@Html.GlobalResource("CompleteRegistration")" />
                    </div>
                </div>
                @Html.Hidden(Fields.ExternalUserID)
                @Html.Hidden(Fields.ExternalProvider)
            }

        </div>

    </div>
</div>


