﻿@model List<LineItem>
@* This view exists in both the Account and Admin view folders, be sure you're editing the correct one *@

    <p><strong>@Html.GlobalResource("SimilarLineItems")</strong></p>
    @{
    List<int> itemIds = new List<int>(Model.Count);
    foreach (LineItem lineItem in Model)
    {
        @:<p>
    @Html.ActionLink(Html.GlobalResource("Add"), "AddLineItem",
        new { invoiceID = ViewData["InvoiceID"], lineItemID = lineItem.ID, returnUrl = ViewData[Fields.ReturnUrl] }, new { @class = "btn btn-xs btn-default" })@:&nbsp;@lineItem.Description<br />
            itemIds.Add(lineItem.ID);
            @:</p>   
        }

        if (itemIds.Count > 1)
        {
            @:<p>
                @Html.ActionLink(Html.GlobalResource("AddAll"), "AddAllLineItems",
            new { invoiceID = ViewData["InvoiceId"], lineItemIds = String.Join(",", itemIds), returnUrl = ViewData[Fields.ReturnUrl] }, new { @class="btn btn-xs btn-default"})
            @:</p> 
        }
    }
