﻿<div class="col-xs-12">
    <div class="well well-sm section-title">@Html.GlobalResource("UserVerification")</div>
    </div>
<div class="col-xs-12">
    @ViewData["Message"]
    @Html.LocalizedValidationSummary()
    </div>
    @using (Html.BeginForm(MVC.UserVerificationAction, MVC.AccountController, FormMethod.Post))
    {
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.GetSiteContent("UserVerificationCopy")
                    <div class="form-group">
                        <label class="required">@Html.GlobalResource("Username")</label>
                        @Html.TextBox("username", "", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label class="required">
                            @Html.GlobalResource("VerificationCode")
                        </label>

                        @Html.TextBox("verificationCode", string.Empty, new { @class = "form-control" })
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" class="btn btn-primary" value="@Html.GlobalResource("Submit")" />
                    </div>
                </div>
            </div>
        </div>
    }


