
/*
    Rotated text for listing rows
*/
.listing-label
{
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */   
    display: block;
    font-size: 14px;
    font-weight:bold;    
    color: #ffffff;
    padding-right: 5px;
    padding-top: 25px;
    text-align: center;
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}

