﻿@model Event
@{
    var pageOfLots = (Page<Listing>)ViewData["PageOfLots"];
}

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
<div class="row">
    <div class="col-xs-12" data-eventid="@Model.ID">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("OptionsDropDown_Event")
                @if (!string.IsNullOrEmpty(Model.SecondaryImageURI))
            {
                    <div class="row">
                        <div class="col-xs-12 event-banner">
                            <img class="img-responsive" src="@string.Format(Model.SecondaryImageURI, "LargeSize".ToLower())" />
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="event-title">
                            @Model.Title
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            @Model.Subtitle
                        </p>

                        @Model.Description.ToMvcHtmlString()
                    </div>
                    <div class="col-md-4">
                        @if (!string.IsNullOrEmpty(Model.ManagedByName))
                        {
                            <p>
                                <strong>
                                    @Html.GlobalResource("ManagedByX", Model.ManagedByName)
                                </strong>
                            </p>
                        }
                        <p>
                            <strong>@Html.GlobalResource("Status")</strong> <span class="awe-rt-Status">@Html.GlobalResource(Model.Status)</span>
                        </p>
                        <p>
                            <strong>@Html.GlobalResource("EventID")</strong> @Model.ID
                        </p>

                        @if (!string.IsNullOrEmpty(Model.TermsAndConditions))
                        {
                            <p class="event-data"><a data-toggle="modal" href="#TermsAndConditions"><span class="glyphicon glyphicon-list-alt"></span>@Html.GlobalResource("TermsAndConditions")</a></p>
                        }
                        @if (!string.IsNullOrEmpty(Model.ShippingInfo))
                        {
                            <p class="event-data"><a data-toggle="modal" href="#ShippingInformation"><span class="glyphicon glyphicon-envelope"></span>@Html.GlobalResource("ShippingInformation")</a></p>
                        }
                        <div class="modal fade" id="TermsAndConditions">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        @Model.TermsAndConditions.ToMvcHtmlString()
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="ShippingInformation">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        @Model.ShippingInfo.ToMvcHtmlString()
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">@Html.GlobalResource("Close")</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        @{IEnumerable<Media> nonImageMedia = Model.Media.Where(m => m.Context.Equals(MediaUploadContexts.UploadFile));}<media>
                            @if (nonImageMedia.Count() > 0)
                            {
                                foreach (Media media in nonImageMedia)
                                {
                                    @Html.Partial(media.Type + "_" + media.DefaultVariationName, media)<br />

                                }
                            }

                    </div>
                </div>
                <hr />


                <div class="row event-data">
                    <div class="col-sm-6">
                        <div class="data-card">
                            <strong>
                                <span class="glyphicon glyphicon-time"></span> &nbsp; @Html.GlobalResource("Starts")
                            </strong>
                            @Html.LocalDTTM(Model.StartDTTM, Model.TimeZone, "G")
                        </div>
                        <div class="data-card">
                            <strong>
                                <span class="glyphicon glyphicon-time"></span> &nbsp; @Html.GlobalResource("FirstLotCloses")
                            </strong>
                            @Html.LocalDTTM(Model.EndDTTM, Model.TimeZone, "G")
                            <small>
                                (@Html.GlobalResource("NumberOfLots"): @Model.LotCount)
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        @if (Model.ProxyBidding)
                    {
                    <div class="data-card">
                        @Html.GlobalResource("EventUsesProxy")
                    </div>
                    }
                        <div class="data-card">
                            @if (Model.BuyersPremiumPercent > 0)
                        {
                        @Model.BuyersPremiumPercent.ToString(Formats.PercentFormat) @:&#37;&nbsp; @Html.GlobalResource("BuyersPremium") -
                            }
                            @Html.GlobalResource("EventCurrencyInfo") <strong>@Model.Currency.Code</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{List<CustomProperty> properties = Model.Properties.Where(p => p.Field.Group.Equals("Event") && !string.IsNullOrEmpty(p.Value)).OrderBy(cp => cp.Field.DisplayOrder).ToList();}
        @if (properties.Count > 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.GlobalResource("AdditionalInformation")
                </div>
                <table class="table">
                    @foreach (CustomProperty property in properties)
                {
                        <tr>
                            <td><strong>@Html.CustomFieldResource(property.Field.Name)</strong></td>
                            @switch (property.Field.Type)
                            {
                                case CustomFieldType.Boolean:
                                    <td>@(bool.Parse(property.Value) ? Html.GlobalResource("Yes") : Html.GlobalResource("No"))</td>
                                    break;
                                case CustomFieldType.Decimal:
                                    if (property.Value.ToString().TrimEnd('0') != "")
                                    {
                                        int count = BitConverter.GetBytes(decimal.GetBits(decimal.Parse(property.Value.ToString().TrimEnd('0')))[3])[2];
                                        <td>@decimal.Parse(property.Value).ToString("N" + count, Html.GetCurrentCultureInfo())</td>
                                    }
                                    else
                                    {
                                        <td>@decimal.Parse(property.Value).ToString("N0", Html.GetCurrentCultureInfo())</td>
                                    }
                                    break;
                                case CustomFieldType.Int:
                                    <td>@int.Parse(property.Value).ToString(Html.GetCurrentCultureInfo())</td>
                                    break;
                                case CustomFieldType.DateTime:
                                    <td>@DateTime.Parse(property.Value).ToString(Html.GetCurrentCultureInfo())</td>
                                    break;
                                case CustomFieldType.Enum:
                                    <td>@Html.CustomFieldResource(property.Value)</td>
                                    break;
                                default:
                                    <td>@property.Value</td>
                                    break;
                            }
                            <td>
                                @{MvcHtmlString helpText = Html.CustomFieldResourceOrDefault(string.Concat(property.Field.Name, "_Help"));}
                                @if (helpText != null)
                                {
                                    @Html.ToolTipButton(property.Field.Name + "_Help")
                                }
                            </td>
                        </tr>
                                    if (helpText != null)
                                    {
                                        <tr>
                                            <td colspan="3">
                                                @Html.ToolTipContent(property.Field.Name + "_Help", helpText)
                                            </td>
                                        </tr>
                                        }
                                    }
                </table>

            </div>
                                    }

    </div>

</div>
<div class="row">
    <div class="col-xs-12 col-md-3 categories">
        <div class="panel panel-default hidden-xs hidden-sm">
            <div class="panel-heading">@Html.GlobalResource("Categories")</div>
            <ul class="nav nav-pills nav-stacked">
                @Html.Partial("CategoryNavigator")
            </ul>
        </div>

        <div class="dropdown visible-sm visible-xs">
            <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown">
                @Html.GlobalResource("CategoryMenu")&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @Html.Partial("CategoryNavigator")
            </ul>
        </div>

        @if (bool.Parse(SiteClient.Settings[SiteProperties.EnableRegions]))
        {
            <div class="panel panel-default hidden-xs hidden-sm region-container">
                <div class="panel-heading">@Html.GlobalResource("Regions")</div>
                <ul class="nav nav-pills nav-stacked">
                    @Html.Partial("RegionNavigator")
                </ul>
            </div>

            <div class="dropdown visible-sm visible-xs region-container">
                <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown">
                    @Html.GlobalResource("RegionMenu")&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @Html.Partial("RegionNavigator")
                </ul>
            </div>
            <script>
                $(document).ready(function () {
                    if ($(".region-container ul li").length == 0) {
                        $(".region-container").hide();
                    }
                });
            </script>
        }
    </div>

    <div class="col-xs-12 col-md-9">

        <div class="row">
            @Html.Partial("BreadCrumbNavigator")
        </div>

        <script type="text/javascript">
            $(document).ready(function () {

                //Jump to Lot
                $("#JumpToLotButton").click(function (event) {
                    event.preventDefault();
                    TryJumpToLot();
                });

                $("#JumpToLotInput").change(function (event) {
                    TryJumpToLot();
                });

                function TryJumpToLot() {
                    var requestedLotNumber = $("#JumpToLotInput").val();
                    if (requestedLotNumber != "") {
                        $("#JumpToLotInput").prop("disabled", true);
                        $.post("@Html.GetActionUrl(MVC.GetLotIdByLotNumberAction, MVC.RealTimeController)",
                            { eventId: @Model.ID, lotNumber: requestedLotNumber })
                            .done(function (data) {
                                if (data.LotId) {
                                    window.location.href = "@Html.GetActionUrl(MVC.LotDetailsAction, MVC.EventController, new { @id = "" } )" + "/" + data.LotId;
                                } else {
                                    $("#JumpToLotInput").addClass("input-validation-error").prop("disabled", false);
                                }
                            });
                    } else {
                        $("#JumpToLotInput").addClass("input-validation-error");
                    }
                }

                //Toggle view style
                $("#ShowListView").click(function (event) {
                    event.preventDefault();
                    if ($(this).hasClass("btn-primary")) {
                        $("input[name=ViewStyle]").val("grid");
                    } else {
                        $("input[name=ViewStyle]").val("list");
                    }
                    $(this).parents("form").submit();
                });
                $("#ShowGridView").click(function (event) {
                    event.preventDefault();
                    if ($(this).hasClass("btn-primary")) {
                        $("input[name=ViewStyle]").val("list");
                    } else {
                        $("input[name=ViewStyle]").val("grid");
                    }
                    $(this).parents("form").submit();
                });

                //toggle active/completed filter
                $("#Status_IncludeActive").click(function (event) {
                    event.preventDefault();
                    var newValue = "";
                    if ($("#Status_IncludeCompleted").hasClass("btn-primary")) {
                        newValue = "active_only";
                    }
                    $("input[name=StatusFilter]").val(newValue);
                    $(this).parents("form").submit();
                });
                $("#Status_IncludeCompleted").click(function (event) {
                    event.preventDefault();
                    var newValue = "";
                    if ($("#Status_IncludeActive").hasClass("btn-primary")) {
                        newValue = "completed_only";
                    }
                    else if ($("#Status_IncludeCompleted").hasClass("btn-primary")) {
                        newValue = "completed_only";
                    }
                    $("input[name=StatusFilter]").val(newValue);
                    $(this).parents("form").submit();
                });

                //Change Sort
                $("select#@MVC.SortFilterOptions").change(function () {
                    $("input#submitDropDown").click();
                });

            });
        </script>
        <div class="well well-sm section-title">
            @using (Html.BeginForm(MVC.DetailsAction, MVC.EventController, FormMethod.Get, new { @class = "form-inline text-right" }))
            {
                List<string> queryString = HttpContext.Current.Request.QueryString.AllKeys.Where(k => !k.StartsWith("SortFilterOptions")).ToList();
                string listViewCss = (string)ViewData["ViewStyle"] == "grid" ? "btn-default" : "btn-primary";
                string gridViewCss = (string)ViewData["ViewStyle"] == "grid" ? "btn-primary" : "btn-default";
                string includeActiveCss;
                string includeCompletedCss;
                if ((string)ViewData["StatusFilter"] == "completed_only")
                {
                    includeActiveCss = "btn-default";
                    includeCompletedCss = "btn-primary";
                }
                else // "active_only" (default)
                {
                    includeActiveCss = "btn-primary";
                    includeCompletedCss = "btn-default";
                }
                foreach (string key in queryString.Where(key => key.ToLower() != "viewstyle"
                                                                && key.ToLower() != "statusfilter"
                                                                && key.ToLower() != "sortfilteroptions"
                                                                && key.ToLower() != "listingtype"
                                                                && key.ToLower() != "page"))
                {
                    @Html.Hidden(key, HttpContext.Current.Request.QueryString[key])
                }
                @Html.Hidden("ViewStyle")
                @Html.Hidden("StatusFilter")
                <div class="form-group pull-left">
                    <div class="input-group input-group-sm">
                        <input id="JumpToLotInput" type="text" class="form-control" placeholder="@Html.GlobalResource("JumpToLot")" />
                        <div id="JumpToLotButton" class="btn btn-primary input-group-addon"><span id="ToggleIcon" class="glyphicon glyphicon-search"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button id="ShowListView" type="button" class="btn btn-sm @listViewCss"><span id="ToggleIcon" class="glyphicon glyphicon-list"></span></button>
                        <button id="ShowGridView" type="button" class="btn btn-sm @gridViewCss"><span id="ToggleIcon" class="glyphicon glyphicon-th-large"></span></button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="btn-group">
                        <button id="Status_IncludeActive" class="btn btn-sm @includeActiveCss">@Html.GlobalResource("Active")</button>
                        <button id="Status_IncludeCompleted" class="btn btn-sm @includeCompletedCss">@Html.GlobalResource("Completed")</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <label for="@MVC.SortFilterOptions" class="input-group-addon">@Html.GlobalResource("Sort")</label>
                        @Html.DropDownList(MVC.SortFilterOptions, null, new { @class = "form-control input-sm" })
                    </div>
                </div>
                <input type="submit" id="submitDropDown" class="awe-hidden" />
            }
        </div>
        @if (pageOfLots == null || pageOfLots.TotalItemCount == 0)
        {
            @Html.GetSiteContent("NoSearchResults")
        }
        else if ((string)ViewData["ViewStyle"] == "grid")
        {
            @Html.Partial("PageOfListing_Grid", pageOfLots)
        }
        else
        {
            @Html.Partial("PageOfListing", pageOfLots)
        }
        @Html.Partial("RandomBottomBanners", ViewData["BannerCats"])
    </div>
</div>