﻿@model Listing

<script type="text/javascript">
    $(document).ready(function () {
        if ($.cookie('currency') == '@Model.Currency.Code') {
            $("#convertedprice").hide();
        } else {
            $("#convertedprice").show();
        }
    });
</script>
@if ((Model.Status == ListingStatuses.Successful) || (Model.Status == ListingStatuses.Unsuccessful))
{
    <div class="panel panel-default closed-details">
        <ul class="list-group">
            <li class="list-group-item">
                @Html.Resource("FixedPriceListing, ListedPrice", Html.LocalCurrencyWithNumberTags(Model.CurrentPrice.Value, Model.Currency.Code))
            </li>
            <li class="list-group-item">
                @Html.Resource("FixedPriceListing, XUnsold", Model.CurrentQuantity)
                <a href="@Url.Action(MVC.HistoryAction, "Listing", new { id = Model.ID, currency = Model.Currency.Code})" class="pull-right">
                    @Html.Resource("FixedPriceListing, ViewPurchaseHistory")
                </a>
            </li>
        </ul>
    </div>
}

@{
    bool showSellerData = bool.Parse(SiteClient.Settings["SellerUsernameDetailPage"]);
    bool paymentsEnabled = (Model.Owner.CreditCardAccepted() && SiteClient.BoolSetting(SiteProperties.AuthorizeNet_Enabled)) ||
        (Model.Owner.BoolProperty(StdUserProps.StripeConnect_SellerAccountConnected) && SiteClient.BoolSetting(SiteProperties.StripeConnect_Enabled)) ||
        (Model.OwnerAcceptsPayPal() && SiteClient.BoolSetting(SiteProperties.PayPal_Enabled));
    bool hasShipping = Model.ShippingOptions.Count > 0;
    bool hasPaymentInstructions = !string.IsNullOrEmpty(Model.PaymentInstructions());

    if (showSellerData || paymentsEnabled || hasShipping || hasPaymentInstructions)
    {
        string sellerPaymentData = "seller-data__payment";
        if (!showSellerData)
        {
            sellerPaymentData += "  seller-data__fullwidth";
        }
        <div class="detail__seller-data">
            <div class="seller-data__container">
                @{
                    if (showSellerData)
                    {
                        <div class="seller-data__summary">
                            @Html.Partial("ListingDetail_SellerUserSummary")
                        </div>
                    }
                }
                <div class="@sellerPaymentData">
                    @Html.Partial("FixedPricePaymentOptions")
                </div>
            </div>
            @Html.Partial("ShippingOptionDisplay")
        </div>
                    }
}

<script type="text/javascript">
    $(document).ready(function () {
        //when this auction's price changes
        $(document).on("SignalR_UpdateListingAction", function (event, data) {
            //if # of actions is > 0
            if (data.AcceptedActionCount > 0) {
                //show purchase history button
                $(".PurchaseHistoryButton").removeClass("awe-hidden");
            }
        });

        //if End DTTM is set to >= 80 years in future (aka Good Til Canceled/GTC) then hide the end date and start date sections
        $(document).on("SignalR_UpdateListingDTTM", function (event, data) {
            var newEndDTTM = new Date(data.DTTM);
            if (data.Epoch == "ending") {
                if (newEndDTTM.getFullYear() >= (@DateTime.UtcNow.AddYears(80).ToString("yyyy"))) {
                    $(".awe-end-dttm-container").hide();
                    $(".awe-start-dttm-container").hide();
                } else {
                    $(".awe-end-dttm-container").show();
                    $(".awe-start-dttm-container").show();
                }
            }
        });

        //auction specific context messages
        contextMessageDictionary["UNKNOWN"] = "@Html.Resource("FixedPriceListing, UNKNOWN").ToJavascriptSafeString()";
        contextMessageDictionary["LISTING_NOT_STARTED"] = "@Html.Resource("FixedPriceListing, LISTING_NOT_STARTED").ToJavascriptSafeString()";
        contextMessageDictionary["LISTING_DELETED"] = "@Html.Resource("FixedPriceListing, LISTING_DELETED").ToJavascriptSafeString()";
        contextMessageDictionary["LISTING_AWAITING_PAYMENT"] = "@Html.Resource("FixedPriceListing, LISTING_AWAITING_PAYMENT").ToJavascriptSafeString()";
        contextMessageDictionary["LISTING_NOT_STARTED"] = "@Html.Resource("FixedPriceListing, LISTING_NOT_STARTED").ToJavascriptSafeString()";
        contextMessageDictionary["BUYER_PURCHASED"] = "@Html.Resource("FixedPriceListing, BUYER_PURCHASED").ToJavascriptSafeString()";
        contextMessageDictionary["BUYER_NO_ACTIVITY"] = "@Html.Resource("FixedPriceListing, BUYER_NO_ACTIVITY").ToJavascriptSafeString()";
        contextMessageDictionary["BUYER_NO_QUANTITY_LEFT"] = "@Html.Resource("FixedPriceListing, BUYER_NO_QUANTITY_LEFT").ToJavascriptSafeString()";
        contextMessageDictionary["SELLER_ACTIVITY"] = "@Html.Resource("FixedPriceListing, SELLER_ACTIVITY").ToJavascriptSafeString()";
        contextMessageDictionary["SELLER_NO_ACTIVITY"] = "@Html.Resource("FixedPriceListing, SELLER_NO_ACTIVITY").ToJavascriptSafeString()";
        contextMessageDictionary["SELLER_SUCCESSFUL"] = "@Html.Resource("FixedPriceListing, SELLER_SUCCESSFUL").ToJavascriptSafeString()";
        contextMessageDictionary["SELLER_UNSUCCESSFUL"] = "@Html.Resource("FixedPriceListing, SELLER_UNSUCCESSFUL").ToJavascriptSafeString()";

        contextMessageDictionary["ActionSuccess"] = "@Html.Resource("FixedPriceListing, ActionSuccess").ToJavascriptSafeString()";
    });
</script>

