﻿@charset "utf-8";
/* CSS Document */

body {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    /*line-height: 1.3;*/
    background: #fafafa;
}

a, a:hover, a:focus, a:active {
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 14px;
}

.mobile-menu {
    display: none;
}

.highlight {
    background: none !important;
}

.padd-cut {
    padding: 0;
}

.padd-l-cut {
    padding-left: 0;
}

.padd-r-cut {
    padding-right: 0;
}

#top-head .sign-list .open > .dropdown-menu {
    background: #53a32c;
}

.summary.active {
    background-color: #d5732d;
    font-weight: 600;
}
/* .container{
  width: 94%;
} */
div#SignalRAlert {
    background: #e8e1e0a6;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0px;
}

input#SubmitBid, input.btn.btn-success.btn-block {
    font-weight: 600;
}

.category-location .dropdown-menu {
    min-width: 100%;
}

#single-banner b, #single-banner strong {
    font-weight: 600;
    font-size: 15px;
}

.status-label > .label, .btn-info {
    background-color: #989797;
    padding: 6px 10px;
    border: none;
}

.btn-default, .btn-default:hover {
    color: #fff;
    /*background-color: #333;*/
    background-color: #001a33;
    border-color: #ccc;
}

.btn-success {
    color: #fff;
    background-color: #07a228;
    border-color: #51a02a;
}

footer .panel.panel-default {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    margin-top: 15px;
    background: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #031a33;
    border-color: #0a233e;
}

.btn-primary {
    color: #fff;
    background-color: #031a33;
    border-color: #082340;
}

footer {
    background: #fff;
}

.listing.grid img {
    margin-top: 0;
}

.panel.panel-default.listing.grid {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: none;
    background: none;
    margin-bottom: 45px;
}

.listing.grid .time {
    padding: 0;
    text-align: left;
    margin-bottom: 0px;
}

.listing.grid .title {
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.listing.grid .bids a {
    float: right;
    right: 0;
    background: #07a228;
    border: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 4px;
}

.listing.grid .cta {
    margin: 0px;
}

.listing.grid .bids {
    background: none;
}

#content-cstm .serv-text-box button.btn {
    background: #53a32c;
    color: #fff;
}

#top-head {
    background: #001a33;
    padding: 20px 0px;
}

    #top-head .sign-list {
        padding-left: 0;
        list-style-type: none;
        float: right;
        margin: 0px 0;
        margin-top: 10px;
    }

        #top-head .sign-list li {
            float: left;
            margin-right: 25px;
        }

            #top-head .sign-list li:last-child {
                margin-right: 0;
            }

            #top-head .sign-list li a {
                color: #fff;
            }

            #top-head .sign-list li:last-child a {
                padding: 2px 15px;
                /*background: #07a228;*/
                border-radius: 4px;
            }

#content-cstm .myaccount .well.well-sm.section-title {
    color: #031a33;
    font-size: 18px;
    text-align: left;
}

#content-cstm .myaccount .panel-default > .panel-heading {
    font-weight: 600;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #d5732d;
}

#top-head .sign-list .open > .dropdown-menu li:last-child a {
    /*padding: 3px 10px;*/
    padding: 9px 10px;
    border-top: 1px solid orange;
}

.well.well-sm.summary.hidden-xs.hidden-sm, .well.well-sm.summary.hidden-xs.hidden-sm {
    background: #515050;
    color: #fff;
    font-weight: 600;
}

    .well.well-sm.summary.hidden-xs.hidden-sm, .well.well-sm.summary.hidden-xs.hidden-sm a {
        color: #fff;
    }

.col-xs-12.col-md-2.categories .panel-default > .panel-heading {
    color: #fff;
    background-color: #525050;
    border-color: #b7b6b6;
    font-weight: 600;
}

#top-head .search-box-parent .search-box, #mobile-search .search-box-parent .search-box {
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 2px 20px 2px 40px;
    width: 100%;
    height: 35px;
}

#top-head .search-box-parent, #mobile-search .search-box-parent {
    position: relative;
}

    #top-head .search-box-parent span, #mobile-search .search-box-parent span {
        position: absolute;
        left: 12px;
        top: 5px;
    }

    #top-head .search-box-parent .place-box, #mobile-search .search-box-parent .place-box {
        box-sizing: border-box;
        border: none;
        border-radius: 2px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 2px 20px 2px 40px;
        width: 100%;
        height: 35px;
    }

    #top-head .search-box-parent ::-webkit-input-placeholder { /* Chrome */
        color: #acafb2;
    }

    #top-head .search-box-parent :-ms-input-placeholder { /* IE 10+ */
        color: #acafb2;
    }

    #top-head .search-box-parent ::-moz-placeholder { /* Firefox 19+ */
        color: #acafb2;
        opacity: 1;
    }

    #top-head .search-box-parent :-moz-placeholder { /* Firefox 4 - 18 */
        color: #acafb2;
        opacity: 1;
    }

#top-head .search-btn, #mobile-search .search-btn {
    padding: 5px 18px;
    display: inline-block;
    margin-left: 15px;
    background: #d57309;
    color: #fff;
    border-radius: 2px;
    border: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

:focus {
    outline: none;
}

#header {
}

    #header .container {
        width: 100%;
        padding: 0;
    }

    #header .navbar-default {
        margin-bottom: 0;
        background-color: #fff;
        border: none;
    }

    #header .all-deal-drpdown {
        margin-left: -15px;
        font-weight: 600;
    }

        #header .all-deal-drpdown .btn-primary {
            color: #fff;
            background-color: #07a228;
            border: none;
            padding: 15px 0;
            border-radius: 0;
            min-width: 220px;
            font-weight: 500;
            font-size: 15px;
        }

.carousel-inner > .item {
    height: 300px;
}

#header .all-deal-drpdown .btn-primary .caret {
    color: #000;
    margin-left: 15%;
}

#header .all-deal-drpdown .dropdown-menu {
    min-width: 284px;
    border: none;
}

    #header .all-deal-drpdown .dropdown-menu li a {
        padding: 12px 20px 12px 55px;
    }

#header .navbar-nav {
    margin-left: 30px;
}

#header .navbar-default .navbar-nav > li > a {
    color: #07a228;
    font-weight: 500;
}

#content-cstm {
    padding: 0px 0px;
    display: inline-block;
    width: 100%;
}

.well.well-sm.fbsignup {
    position: relative;
    display: inherit;
    text-align: center;
    box-shadow: none;
    width: 100%;
    height: 44px;
}

.registerpage .btn-social {
    font-size: 15px;
    float: none;
    width: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    position: absolute;
    left: 35%;
}

.registerpage .well {
    background: none;
    border: none;
    box-shadow: none;
}

.fbsignup1 {
    text-align: center;
    padding-bottom: 0px;
    font-size: 20px;
}

.registerpage form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-size: 15px;
    font-weight: 500;
}

.registerpage .form-control {
    background-color: #f1f1f1;
    border: 1px solid #fff;
    border-radius: 0px;
    height: 36px;
    box-shadow: none;
}

.registerpage .panel.panel-default {
    background: none;
    border: none;
    box-shadow: none;
}

.registerpage .help-block {
    font-size: 14px;
}

#content-cstm .adv-image {
    max-width: 100%;
    margin-bottom: 30px;
}

div#Form_Registration .panel-default > .panel-heading {
    text-align: center;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #00008B;
}

#content-cstm .well.well-sm.section-title {
    text-align: center;
    color: #07a228;
    font-size: 28px;
    box-shadow: none;
    margin-bottom: 5px;
}

#content-cstm form .well.well-sm.section-title {
    font-size: 18px !important;
    text-align: left !important;
}

#content-cstm .carousel-control {
    top: 48%;
    bottom: unset;
    opacity: 1;
    text-shadow: none;
    background-color: transparent;
    width: 5%;
    font-size: 30px;
}

    #content-cstm .carousel-control.right, #content-cstm .carousel-control.left {
        background-image: unset;
    }

#content-cstm .carousel-caption {
    left: 15%;
    right: unset;
    text-align: unset;
    text-shadow: none;
    right: 18%;
}

    #content-cstm .carousel-caption h3 {
        font-size: 32px;
        font-weight: 700;
    }

    #content-cstm .carousel-caption a {
        padding: 4px 15px;
        background: #07a228;
        display: inline-block;
        margin: 20px 0;
        color: #fff;
        border-radius: 4px;
        /*New added*/
        font-weight: 600;
        font-size: 14px;
    }

    #content-cstm .carousel-caption p {
        display: inline-block;
        margin-left: 15px;
        font-size: 12px;
        color: #d7d7d7;
    }

        #content-cstm .carousel-caption p span {
            margin-left: 10px;
            font-size: 20px;
            font-weight: 400;
            color: #fff;
        }

#content-cstm .carousel .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#content-cstm .sub-head {
    text-align: center;
    margin: 35px auto 20px;
    font-size: 25px;
    font-weight: 500;
}

    #content-cstm .sub-head .btn {
        background: #d5732d;
        color: #fff;
        margin-left: 15px;
    }

#content-cstm .serv-img-box {
    position: relative;
}

    #content-cstm .serv-img-box .serv-image {
        width: 100%;
    }

.facebooklogin {
}

.btn-social {
    position: relative;
    padding-left: 40px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .btn-social :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }

.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding-left: 0;
    padding-right: 0;
}

    .btn-social-icon :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.6em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

    .btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
        color: #fff;
        background-color: #30487b;
        border-color: rgba(0,0,0,0.2);
    }

.btn-social {
    position: inherit;
    font-size: 15px;
    float: right;
    width: 215px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #314f8c;
    color: #fff;
}

    .btn-social :first-child {
        padding-top: 8px;
    }

#content-cstm .serv-img-box .tag-img {
    position: absolute;
    top: 0;
    left: 0;
}

#content-cstm .serv-text-box {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

    #content-cstm .serv-text-box .rating-cstm .checked {
        color: orange;
    }

    #content-cstm .serv-text-box .rating-cstm .review-count {
        margin-left: 5px;
        color: #909090;
    }

    #content-cstm .serv-text-box h2 {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        border-bottom: 1px solid #9f9f9f;
        padding-bottom: 5px;
    }

    #content-cstm .serv-text-box p {
        color: #e32e5d;
        margin-bottom: 0;
        font-weight: 600;
    }

        #content-cstm .serv-text-box p span {
            color: #9f9f9f;
            margin-right: 12px;
            text-decoration: line-through;
        }

    #content-cstm .serv-text-box label {
        color: #9f9f9f;
        font-size: 12px;
        font-weight: 300;
    }

ul.menu-ist.nav.nav-pills li a {
    background: none;
    color: #000;
    font-weight: 600;
}

    ul.menu-ist.nav.nav-pills li a .badge {
    }

#content-cstm .serv-text-box a {
    float: right;
    padding: 3px 20px;
    background: #07a228;
    color: #fff;
    display: inline-block;
    margin-top: 8px;
    border-radius: 4px;
}

#footer1 {
    background: #fff;
    padding: 30px 0;
}

    #footer1 .f-head {
        font-size: 20px;
        font-weight: 500;
        color: #393939;
    }

    #footer1 .f-links {
        list-style-type: none;
        padding-left: 0;
        margin-top: 20px;
    }

        #footer1 .f-links li {
            margin-bottom: 5px;
        }

#footer2 {
    background: #fff;
}

    #footer2 .copyright {
        margin: 15px 0;
    }

#mobile-search {
    display: none;
}

/*login page*/
#login-page {
    padding: 40px 0 60px;
}

    #login-page .log-head {
        font-size: 28px;
        display: inline-block;
        margin: 15px 0;
    }

    #login-page .line-1::after {
        height: 2px;
        display: block;
        width: 150%;
        background: #07a228;
        content: '';
        margin-top: 12px;
        float: right;
    }

    #login-page .line-2::after {
        height: 2px;
        display: block;
        width: 160%;
        background: #07a228;
        content: '';
        margin-top: 12px;
    }

    #login-page .l-para {
        font-size: 20px;
        color: #999999;
    }

        #login-page .l-para span {
            color: #07a228;
            font-size: 24px;
            font-weight: 400;
        }

    #login-page .m-para {
        font-size: 18px;
        color: #999999;
    }

    #login-page .s-para {
        font-size: 13px;
        color: #999999;
    }

    #login-page .reg-para {
        font-size: 20px;
        color: #333333;
        margin: 25px 0;
    }

        #login-page .reg-para span {
            color: #009933;
        }

    #login-page .signup-btn {
        color: #fff;
        background: #d57309;
        padding: 11px 35px;
        font-weight: 500;
        display: inline-block;
        border-radius: 4px;
    }

    #login-page .form-control {
        background-color: #f1f1f1;
        border: 1px solid #fff;
        border-radius: 0px;
        height: 40px;
        box-shadow: none;
    }

    #login-page .form-group {
        margin: 20px 0;
    }

    #login-page .checkbox label input {
        margin-top: 6px;
    }

    #login-page .checkbox label {
        color: #001a33;
        font-weight: 300;
    }

    #login-page .checkbox .fpw {
        float: right;
    }

        #login-page .checkbox .fpw a {
            color: #d57309;
        }

    #login-page .login-btn {
        background: #07a228;
        color: #fff;
        padding: 11px 33px;
        display: inline-block;
        font-weight: 500;
        border: none;
    }
/*login page end*/

/*reg page*/
#reg-page {
    padding: 40px 0 60px;
}

    #reg-page .form-control {
        background-color: #f1f1f1;
        border: 1px solid #fff;
        border-radius: 0px;
        height: 40px;
        box-shadow: none;
        text-align: center;
    }

    #reg-page .sub-head {
        font-size: 18px;
        font-weight: 200;
        color: #999999;
    }

    #reg-page .head {
        color: #07a228;
        /*New added*/
        font-variant: small-caps;
    }

    #reg-page .para-head {
        /*margin-bottom: 0;
        color: #0000af;
        font-weight: 600;*/
        margin-bottom: 0;
        color: #001a33;
        font-weight: 600;
    }

    #reg-page .instruction-para {
        font-size: 10px;
        font-weight: 200;
        text-align: left;
        font-style: italic;
        color: #999999;
    }

    #reg-page .checkbox label {
        display: block;
        text-align: left;
        font-weight: 300;
    }

    #reg-page .reg-btn {
        padding: 10px 0;
        display: block;
        background: #07a228;
        color: #fff;
        margin-top: 30px;
        font-weight: 500;
    }
/*reg page end*/
/*single listing page */

#single-banner {
    padding: 5px 0;
}

    #single-banner .demo {
        width: 100%;
    }

        #single-banner .demo ul {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom: 0;
        }

            #single-banner .demo ul li {
                display: block;
                float: left;
                margin-right: 6px;
                cursor: pointer;
            }

                #single-banner .demo ul li img {
                    display: block;
                    height: auto;
                    width: 100%;
                }

    #single-banner .itemhead, .awe-listing-detail-title {
        color: #07a228;
        font-weight: 500;
        margin: 0 0 5px;
        font-size: 22px;
    }

.listing-badge:before {
    border: 10px solid #d52d2d;
    border-right-color: transparent;
    width: 100px;
}

.listing-badge:after {
    border: 4px solid #ca271c;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.listing-badge:before {
    content: 'ON SALE';
}

#single-banner .itemdesc {
    color: #666666;
    font-size: 18px;
}

#single-banner .star-rating .checked {
    color: orange;
}

#single-banner .star-rating .review-count {
    margin-left: 5px;
    color: #909090;
}

#single-banner .price-head {
    font-size: 20px;
    font-weight: 600;
}

#single-banner .quantity-head {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
}

#single-banner .quantity-input-box {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 400;
    width: 100%;
    padding: 6px 0px 6px 20px;
}

#single-banner .buy-btn {
    display: block;
    background: #07a228;
    color: #fff;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    margin-top: 12px;
}

#single-banner .media-left {
    padding-right: 4vw;
}

    #single-banner .media-left i {
        color: #d5d5d5;
    }

#single-banner .media-body p {
    margin-top: 6px;
    font-size: 14px;
    color: #b4b4b4;
}

.listing.grid .title b, .listing.grid .title strong {
    font-size: 15px;
    font-weight: 500;
    color: #555;
}

.section-title .btn {
    border: 0;
}

#single-banner .item-details {
    color: #001a33;
    font-size: 15px;
    font-weight: 300;
}

#single-banner .itam-status {
    color: #fff;
    border-radius: 13px;
    background: #07a228;
    padding: 3px 10px;
    display: inline-block;
    margin: 17px 0px 0;
}

#single-banner .seller-other-btn {
    color: #fff;
    background: #07a228;
    padding: 3px 0px;
    font-weight: 400;
    margin-top: 50px;
    display: block;
}

#Single-des-qus {
    padding: 20px 0 60px;
}

    #Single-des-qus .b-head {
        font-size: 22px;
        color: #333333;
    }

        #Single-des-qus .b-head::after {
            height: 1px;
            display: block;
            width: 50%;
            background: #07a228;
            content: '';
            margin-top: 10px;
        }

    #Single-des-qus .no-qus-text {
        font-weight: 400;
        font-style: italic;
        margin-top: 20px;
    }

    #Single-des-qus .sub-head1 {
        font-size: 18px;
        color: #000;
        margin: 30px 0 20px;
    }

    #Single-des-qus .para {
    }

    #Single-des-qus .para-head {
        font-weight: 500;
        margin: 15px 0;
    }

    #Single-des-qus .para-inner {
        margin-bottom: 0;
        line-height: 25px;
    }

#path-area {
    padding: 10px 0 0;
}

    #path-area .path-area-list {
        padding-left: 0;
        list-style-type: none;
        display: inline-block;
        margin-bottom: 0;
    }

        #path-area .path-area-list li {
            background: #ededed;
            float: left;
            margin-right: 20px;
            padding: 2px 12px;
            position: relative;
            font-size: 14px;
        }

            #path-area .path-area-list li:after {
                content: '';
                width: 0;
                height: 0;
                border-top: 13px solid transparent;
                border-left: 15px solid #ededed;
                border-bottom: 15px solid transparent;
                position: absolute;
                right: 0;
                right: -15px;
                top: 0;
            }

            #path-area .path-area-list li:not(:first-child):before {
                content: '';
                width: 0px;
                height: 0px;
                border-left: 15px solid transparent;
                border-top: 13px solid #ededed;
                border-right: 0px solid #ededed;
                border-bottom: 14px solid #ededed;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
                position: absolute;
                left: -15px;
                top: 0;
            }

#pacman {
    width: 0px;
    height: 0px;
    border-left: 60px solid transparent;
    border-top: 60px solid red;
    border-right: 60px solid red;
    border-bottom: 60px solid red;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#top-head .sign-list .dropdown-menu > li > a:hover, #top-head .sign-list .dropdown-menu > li > a:focus {
    background: none;
}

.admin .btn {
    float: right;
    margin-left: 10px;
    opacity: 1;
    margin-top: 10px;
    background: #53a32c;
    color: #fff;
    border: 0;
}

#top-head .sign-list li p.navbar-text {
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
}

#top-head .sign-list .navbar-btn.btn-sm {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 2px 10px;
    font-size: 14px;
    background: #53a32c;
    color: #fff;
    border: none;
}

.admin {
    margin-bottom: 18px;
}

/*single listing page end*/

@media only screen and (min-width:320px) and (max-width: 676px) {
    .galleryUnit {
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        max-height: 288px;
        min-height: 288px;
    }
}

@media only screen and (min-width:320px) and (max-width: 767px) {
    .list-view-item {
        float: left;
    }

    .navbar-default .navbar-text {
        color: #fff;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #53a32d;
    }

    li.dropdown.more.visible-xs {
        display: none !important;
    }

    #header .navbar-nav li:last-child {
        display: none;
    }

    #login-page .col-lg-10.col-md-10.col-sm-10.col-xs-12.text-right {
        display: none;
    }

    #login-page {
        padding: 15px 0 60px;
    }

        #login-page .log-head {
            font-size: 22px;
            display: inline-block;
            margin: 5px 0;
        }

        #login-page .line-2::after {
            margin-top: 6px;
        }

    .active-completed {
    }

    #top-head .sign-list li:last-child a {
        display: none;
    }

    .mobile-menu {
        display: block;
        padding-left: 5px;
    }

        .mobile-menu li {
            list-style: none;
        }

            .mobile-menu li:first-child {
                display: none;
            }

    #top-head .search-box-parent .search-box, #mobile-search .search-box-parent .search-box {
        padding: 2px 5px 2px 28px;
        font-size: 14px;
    }

    #top-head .search-btn, #mobile-search .search-btn {
        margin-left: 0;
    }

    #top-head .search-box-parent span, #mobile-search .search-box-parent span {
        left: 8px;
    }

    #top-head .search-box-parent .place-box, #mobile-search .search-box-parent .place-box {
        padding: 2px 5px 2px 28px;
        font-size: 14px;
    }

    #top-head .sign-list li p.navbar-text {
        color: #333333;
    }

    .search-div {
    }

    button.navbar-toggle {
        top: 0px;
        position: absolute;
        right: 0px;
        color: #fff;
        border-color: #fff;
        margin-top: 4px;
    }

    .navbar-default .navbar-nav > li > a {
        padding-left: 0;
    }

    #header .navbar-nav {
        margin-left: 0px;
    }

    .search-box-parent {
        margin-left: -15px;
        margin-right: 8px;
    }

    #login-page a.btn.btn-block.btn-social.btn-facebook {
        float: left;
        margin-top: 10px;
    }

    .registerpage .btn-social {
        left: 15%;
    }

    #top-head .sign-list li {
        margin-right: 16px;
    }

    #top-head .sign-list {
        margin: 15px 0 0 0;
        float: left;
        padding: 5px 15px;
        width: 100%;
        background: #fff;
        display: none;
    }

        #top-head .sign-list li a {
            color: #53a32c;
        }

        #top-head .sign-list ul.dropdown-menu li a {
            color: #fff;
        }

        #top-head .sign-list .open > .dropdown-menu {
            right: 0;
            left: auto;
        }

    #top-head img.img-responsive {
        margin-bottom: 12px;
    }

    #content-cstm .carousel {
        display: none;
    }

    #content-cstm .adv-image {
        display: none;
    }

    #top-head {
        padding: 15px 0px 15px 0px;
    }

    #header .all-deal-drpdown {
        display: none;
    }

    #header .navbar-default .navbar-toggle {
        border-color: #ddd;
        position: absolute;
        top: -144px;
        right: 0;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    #header .navbar-default .navbar-collapse {
        background: #53a32c;
    }

        #header .navbar-default .navbar-collapse a {
            color: #fff !important;
        }

        #header .navbar-default .navbar-collapse .dropdown-menu a {
            color: #000;
        }

    #header .navbar-default {
        min-height: 1px;
    }

    #mobile-search {
        display: block;
        height: 70px;
        background: #07a228;
        padding: 20px 0;
    }

    .hide-search-onmobile {
        display: none;
    }

    #mobile-search .search-btn {
        margin-left: 0;
    }

    #content-cstm .sub-head {
    }

    #mobile-search .search-box-parent span {
        left: 6px;
    }

    #mobile-search .search-box-parent .place-box {
        padding: 2px 10px 2px 20px;
    }

    #mobile-search .search-box-parent .search-box {
        padding: 2px 20px 2px 26px;
    }
}

@media only screen and (min-width:200px) and (max-width: 500px) {
    .cool {
        width: -webkit-fill-available;
    }
}

@media only screen and (min-width:992px) and (max-width: 1199px) {
}

#single-banner table.table.table-condensed.bidding .price-head, #single-banner table.table.table-condensed.bidding .quantity-head {
    font-size: 15px;
    font-weight: inherit;
}

    #single-banner table.table.table-condensed.bidding .quantity-head .input-group {
        margin-left: 15px;
    }
