@section Splash{
    @{
        MvcHtmlString hpAnnouncement = Html.GetSiteContent("HomepageAnnouncement");
        if (!MvcHtmlString.IsNullOrEmpty(hpAnnouncement))
        {
            @hpAnnouncement
        }
    }
}
@Html.Partial("RandomTopBanners")

@{
    bool showCategories = bool.Parse(SiteClient.Settings["HomepageCategories"]);
    int numberOfBanners = int.Parse(SiteClient.Settings[RainWorx.FrameWorx.Strings.SiteProperties.LeftBannersToDisplay]);


    string IndexCssColumns = "col-xs-12";
    if ((numberOfBanners > 0) || (showCategories))
    {
        IndexCssColumns += " col-md-9";
        <div class="col-xs-12 col-md-3 categories">
            @if (showCategories)
            {
                <div class="panel panel-default hidden-xs hidden-sm">
                    <div class="panel-heading">@Html.GlobalResource("Categories")</div>
                    <ul class="nav nav-pills nav-stacked">
                        @Html.Partial("CategoryNavigator", ViewData["CategoryNavigator"])
                    </ul>
                </div>
                <div class="dropdown visible-sm visible-xs">
                    <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown">
                        @Html.GlobalResource("CategoryMenu")&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @Html.Partial("CategoryNavigator", ViewData["CategoryNavigator"])
                    </ul>
                </div>
                if (bool.Parse(SiteClient.Settings[SiteProperties.EnableRegions]))
                {
                    <div class="panel panel-default hidden-xs hidden-sm">
                        <div class="panel-heading">@Html.GlobalResource("Regions")</div>
                        <ul class="nav nav-pills nav-stacked">
                            @Html.Partial("RegionNavigator", ViewData["RegionNagivator"])
                        </ul>
                    </div>
                    <div class="dropdown visible-sm visible-xs">
                        <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown">
                            @Html.GlobalResource("RegionMenu")&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @Html.Partial("RegionNavigator", ViewData["RegionNagivator"])
                        </ul>
                    </div>
                }
            }
            @if (numberOfBanners > 0)
            {
                @Html.Partial("RandomLeftBanners")
            }
        </div>
    }
}
<div class="@IndexCssColumns">

    @if (SiteClient.TextSetting(SiteProperties.HomepageContent) != "none")
    {
        if (SiteClient.EnableEvents)
        {
            @Html.Partial("HomepageEvents")
            @*@Html.Partial("PageOfEvents")*@
        }
        else
        {
            @Html.Partial("HomePageFeaturedListings")
        }
    }
</div>

@Html.Partial("RandomBottomBanners")

