﻿@model Listing

<div class="col-sm-12">
    <div class="line-item clearfix">
        <label class="pull-left">
            <input class="row-selection-checkbox" type="checkbox" name="selectedObjects" value="@Model.ID" />
        </label>
        @Html.ButtonLink(Html.GlobalResource("Delete_small"), MVC.RemoveWatchAction,
        new { id = Model.ID, page = Request["page"], SortFilterOptions = Request["SortFilterOptions"] },
        new { @class = "close" })
        <div class="img-container">
            @{
                if (string.IsNullOrEmpty(Model.PrimaryImageURI))
                {
                    @Html.Partial("NoPhotoThumbnail")
                }
                else
                {
                    string uri = string.Format(Model.PrimaryImageURI, SiteClient.ThumbnailType.ToLower());
                    @Model.BeginDetailLink()
                    <img src="@uri" alt="@Html.GlobalResource("ListingImage")" class="img-responsive" />
                    @Model.EndDetailLink()
                }
            }
            </div>
        <div class="item-data">
            @Model.DetailLink(Model.Title) <em>(@Model.ID)</em>
            @if (SiteClient.DisplayListingType)
            {
                <span class="label label-primary">@Html.GlobalResource("FixedPriceBanner")</span>
            }
            <br />
            @Html.GlobalResource("Price"): @Html.LocalCurrency(Model.CurrentPrice.Value, Model.Currency.Code)
            <br />
            @if (!Model.IsGoodTilCanceled())
            {
                @Html.GlobalResource("EndingDateTime")@: : @Html.LocalDTTM(Model.EndDTTM.Value, "G")
                <br />
            }
            @Html.GlobalResource("Seller"): <a href="Browse?Seller=@Model.OwnerUserName">@Model.OwnerUserName</a>
        </div>

        </div>
</div>
