﻿@model Listing
@{
    bool showDecorations = ViewData.ContainsKey("ShowDecorations") ? (bool)ViewData["ShowDecorations"] : true;
    string containerCssClasses = "panel panel-default";
    if (showDecorations && Model.Decorations.Any(d => d.Name == DecorationNames.Highlight))
    {
        containerCssClasses += " highlight";
    }
    bool boldDecoration = showDecorations && Model.Decorations.Any(d => d.Name == DecorationNames.Bold);
}
<div class="@containerCssClasses">
    @if (showDecorations && Model.Decorations.Any(d => d.Name == "Sunburst"))
    {
        <div class="listing-badge"></div>
    }
    <div class="galleryImage">
        @{
            if (string.IsNullOrEmpty(Model.PrimaryImageURI))
            {
                @Model.BeginDetailLink()
                @Html.Partial("NoPhoto")
                @Model.EndDetailLink()
            }
            else
            {
                string uri = string.Format(Model.PrimaryImageURI, "FullSize".ToLower());
                @Model.BeginDetailLink()
                <img src="@uri" alt="@Model.Title" class="img-responsive" />
                @Model.EndDetailLink()
            }
        }
    </div>
    <p class="galleryTitle">
        @Model.BeginDetailLink()
        @if (boldDecoration)
        {
            <strong>@Model.Title</strong>
        }
        else
        {
            @Model.Title
        }
        @Model.EndDetailLink()
    </p>
    @if (Model.Status.Equals(ListingStatuses.Active))
    {
        <p class="galleryData--title">
            @Html.Resource("AuctionListing , CurrentBid")
            <span class="timeLabel">@Html.GlobalResource("TimeRemaining")</span>
        </p>
        <p class="galleryData--values">
            <span class="awe-rt-CurrentPrice galleryPrice">
                @Html.LocalCurrencyWithNumberTags(Model.CurrentPrice.Value, Model.Currency.Code)
            </span>
            <span class="galleryTime--active">
                &nbsp;
                <span data-epoch="ending" data-action-time="@Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value)" data-end-value="@Html.GlobalResource("Ended")">
                    @*Leave Empty, autofilled by SignalR*@
                </span>
            </span>
        </p>
    }
    else if (Model.Status.Equals(ListingStatuses.Preview))
    {

        <p class="galleryData--title">
            <span class="awe-rt-Active awe-hidden">@Html.Resource("AuctionListing , CurrentBid")</span>
            <span class="awe-rt-Pending">@Html.Resource("AuctionListing , StartingBid")</span>
            &nbsp;
            <span class="timeLabel">
                &nbsp;
                <span class="awe-rt-Pending"><strong>@Html.GlobalResource("StartsIn")</strong></span>
                <span class="awe-rt-Active awe-hidden">@Html.GlobalResource("TimeRemaining")</span>
            </span>
        </p>
        <p class="galleryData--values">
            <span class="awe-rt-CurrentPrice galleryPrice">
                @Html.LocalCurrencyWithNumberTags(Model.CurrentPrice.Value, Model.Currency.Code)
            </span>
            <span class="galleryTime--active">
                &nbsp;
                <span data-epoch="starting" data-end-hide-selector="[data-listingid='@Model.ID'] .awe-rt-Pending" data-end-show-selector="[data-listingid='@Model.ID'] .awe-rt-Active" data-action-time="@Html.CultureInvariantLocalDTTM(Model.StartDTTM.Value)">@*Leave Empty, autofilled by SignalR*@</span>
                <span class="awe-rt-Active awe-hidden" data-epoch="ending" data-action-time="@Html.CultureInvariantLocalDTTM(Model.EndDTTM.Value)" data-end-value="@Html.GlobalResource("Ended")">@*Leave Empty, autofilled by SignalR*@ </span>
            </span>
        </p>
    }
    else if (Model.Status.Equals(ListingStatuses.Successful) || Model.Status.Equals(ListingStatuses.Unsuccessful))
    {
        <p class="galleryData--title">
            @if (Model.Status.Equals(ListingStatuses.Successful))
                {
                <span class="sold">@Html.GlobalResource("Sold")</span>
            }
            else
            {
                @Html.GlobalResource("Ended")
            }
        </p>
        <p class="galleryData--values">
            <span class="awe-rt-CurrentPrice galleryPrice--ended">
                @(Model.CurrentPrice.HasValue ? Html.LocalCurrencyWithNumberTags(Model.CurrentPrice.Value, Model.Currency.Code) : MvcHtmlString.Empty)
            </span>
            <br />
            <span class="galleryTime--ended">@Model.EndDTTM</span>

        </p>
        if (SiteClient.DisplayListingType)
        {
            <div class="listingTypeIcon">
                <svg fill="rgba(0,0,0,.3)" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" role="img">
                    <defs>
                        <path d="M0 0h24v24H0V0z" id="a" />
                    </defs>
                    <clipPath id="b">
                        <use overflow="visible" xlink:href="#a" />
                    </clipPath>
                    <path clip-path="url(#b)" d="M1 21h12v2H1zM5.245 8.07l2.83-2.827 14.14 14.142-2.828 2.828zM12.317 1l5.657 5.656-2.83 2.83-5.654-5.66zM3.825 9.485l5.657 5.657-2.828 2.828-5.657-5.657z">
                        <title>@Html.Resource("AuctionListing, TypeIconAlt")</title>
                    </path>
                </svg>
            </div>
        }
    }
</div>