<div class="form-group">
    <label class="required col-sm-3 control-label">
        @Html.Resource("FixedPriceListing, CurrentQuantity")
    </label>
    <div class="col-sm-3">
        @Html.TextBox(Fields.CurrentQuantity, null, new { @class = "form-control" })
    </div>
</div>
@if ((bool)ViewData[SiteProperties.EnableMakeOffer])
{
    <div class="form-group">
        <div class="col-sm-3"></div>
        <div class="col-sm-8">
            <div class="checkbox">
                @Html.CheckBox(Fields.MakeOfferAllowed, null)
                @Html.Resource("FixedPriceListing, AcceptOffers")
            </div>
        </div>
    </div>
}
