﻿@model Page<RainWorx.FrameWorx.DTO.Attribute>

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewBag.PageName = Html.AdminResource("LineageString_Attributes");
}

<script type="text/javascript">
    $(document).ready(function () {
        $("select#SortFilterOptions").change(function () {
            $("input#submitDropDown").click();
        });
    });
</script>
<div class="form-horizontal">
@using (Html.BeginForm(MVC.AttributesAction, MVC.AdminController, new { page = 0 }, FormMethod.Get, null))
    {
        <div class="group">
            <div class="input-group">
                <label class="input-group-addon">@Html.AdminResource("Sort") </label>
                @Html.DropDownList(MVC.SortFilterOptions, null, new { @class = "form-control" })
            </div>
            <input type="submit" id="submitDropDown" class="awe-hidden" />
        </div>
    }

    @using (Html.BeginForm())
    {
        
        <div class="panel panel-default">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>@Html.AdminResource("Context")</th>
                    <th>@Html.AdminResource("Name")</th>
                    <th>@Html.AdminResource("Value")</th>
                </tr>
                @foreach (RainWorx.FrameWorx.DTO.Attribute attribute in Model.List)
                {
                    <tr>
                        <td>@attribute.Context</td>
                        <td>@attribute.Name</td>
                        <td>@Html.TextBox(attribute.ID + "_value", attribute.Value, new { @class="form-control input-sm"})</td>
                    </tr>
                }
            </table>
        </div>
        <div class="action-panel">
            @if (Convert.ToBoolean(SiteClient.Settings[SiteProperties.DemoEnabled]))
            {
            <div class="text-center text-danger">@Html.AdminResource("DemoFeatureSettingsDisabled")</div>
            }
            else
            {
            <input type="submit" class="btn btn-success confirm-before-leaving" value="@Html.AdminResource("SaveConfiguration")" name="Save" id="Save" />
            }
        </div>
    }
</div>
@if (Model.TotalPageCount > 1)
{
    Html.RenderPageNumberLinks(Model);
}
