﻿@model CustomField

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewBag.PageName = Html.AdminResource("Edit" + Model.Group + "Field");
    string[] protectedFields = new[] { //these fields are editable, but not delete-able
        StdUserProps.TaxExempt 
    };
}

<script type="text/javascript">
    $(function () {

        $(document).ready(function () {
            SetValues();
        });

        function SetValues() {
            if ($('#Type').val() == 3) {
                $("#Default").hide();
                $("#BooleanDefaultSpan").show();
                if ($("#Default").val().toLowerCase() == "true") {
                    $('#BooleanDefault').prop("checked", true);
                }
                else {
                    $("#Default").val("False");
                    $('#BooleanDefault').prop("checked", false);

                }
            }
            else {
                $("#Default").show();
                $("#BooleanDefaultSpan").hide();
            }

        }


        $('#BooleanDefault').change(function () {
            if ($(this).is(":checked")) {
                $("#Default").val("True");
            }
            else {
                $("#Default").val("False");

            }
        });

        $('#Type').change(SetValues);
    });

</script>
<div class="panel panel-default">
    @{
        string returnUrl = (ViewData.ContainsKey(Fields.ReturnUrl)) ? (string)ViewData[Fields.ReturnUrl] : string.Empty;
        if (string.IsNullOrEmpty(returnUrl))
        {
            returnUrl = Html.GetActionUrl(MVC.FieldsAction, MVC.AdminController,
                                            new { GroupName = ViewData[Fields.Group] });
        }
    }
    @using (Html.BeginForm("SaveField", "Admin", new { id = Model.ID }))
    {
        @Html.Hidden(Fields.ReturnUrl, returnUrl)
        <table class="table">
            <tr>
                <td>@Html.AdminResource("Name")</td>
                <td>@Html.TextBox("Name", Model.Name, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td>@Html.AdminResource("Type")</td>
                <td>@Html.DropDownList("Type", null, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td>@Html.AdminResource("Required")</td>
                <td>@Html.CheckBox("Required", Model.Required)</td>
            </tr>
            <tr>
                <td>@Html.AdminResource("DefaultValue")</td>
                <td>
                    @{
                        string defaultValue = "";
                        if (!string.IsNullOrEmpty(Model.DefaultValue))
                        {
                            switch (Model.Type)
                            {
                                case CustomFieldType.Decimal:
                                    {
                                        @Html.TextBox("Default", decimal.Parse(Model.DefaultValue).ToString(Formats.Decimal, Html.GetCultureInfo()), 
                                            new { @class = "form-control input-sm" })
                                        break;
                                    }
                                case CustomFieldType.Int:
                                    {
                                        @Html.TextBox("Default", int.Parse(Model.DefaultValue).ToString("N0", Html.GetCultureInfo()), 
                                            new { @class = "form-control input-sm" })
                                        break;
                                    }
                                case CustomFieldType.DateTime:
                                    {
                                        DateTime value = DateTime.Parse(Model.DefaultValue.ToString());
                                        defaultValue = value.ToString("G", Html.GetCultureInfo());
                                        @Html.TextBox("Default", defaultValue, new { @class = "form-control input-sm" })
                                        break;
                                    }
                                default:
                                    {
                                        @Html.TextBox("Default", Model.DefaultValue, new { @class = "form-control input-sm" })
                                        break;
                                    }
                            }
                        }
                        else
                        {
                            @Html.TextBox("Default", defaultValue, new { @class = "form-control input-sm" })
                        }
                    }
                    <div id="BooleanDefaultSpan" class="awe-hidden">
                        <input type="checkbox" name="BooleanDefault" id="BooleanDefault" />
                        <span class="help-block"> @Html.AdminResource("CheckForTrue")</span>
                    </div>
                </td>
            </tr>
            @if (Model.Group == "User")
            {
                <tr>
                    <td>@Html.AdminResource("Deferred")</td>
                    <td>
                        @Html.CheckBox("Deferred", Model.Deferred)
                        <span class="help-block">@Html.AdminResource("CustomUserDeferredHelpText")</span>
                    </td>
                </tr>
            }
            else
            {
                @Html.Hidden("Deferred", Model.Deferred)
            }
            @if (Model.Group == CustomFieldGroups.Item || Model.Group == CustomFieldGroups.Event)
            {
                <tr>
                    <td>@Html.AdminResource("IncludeOnInvoice")</td>
                    <td>
                        @Html.CheckBox("IncludeOnInvoice", Model.IncludeOnInvoice)
                        <span class="help-block">@Html.AdminResource("IncludeOnInvoice_Help")</span>
                        @Html.Hidden("IncludeOnInvoiceAsSeller", Model.IncludeOnInvoiceAsSeller)
                        @Html.Hidden("IncludeOnInvoiceAsBuyer", Model.IncludeOnInvoiceAsBuyer)
                        @Html.Hidden("IncludeInSalesReportAsSeller", Model.IncludeInSalesReportAsSeller)
                        @Html.Hidden("IncludeInSalesReportAsBuyer", Model.IncludeInSalesReportAsBuyer)
                    </td>
                </tr>
                <tr>
                    <td>@Html.AdminResource("IncludeInSalesReport")</td>
                    <td>
                        @Html.CheckBox("IncludeInSalesReport", Model.IncludeInSalesReport)
                        <span class="help-block">@Html.AdminResource("IncludeInSalesReport_Help")</span>
                    </td>
                </tr>
            }
            else if (Model.Group == CustomFieldGroups.User)
            {
                <tr>
                    <td>@Html.AdminResource("IncludeOnInvoiceAsSeller")</td>
                    <td>
                        @Html.CheckBox("IncludeOnInvoiceAsSeller", Model.IncludeOnInvoiceAsSeller)
                        <span class="help-block">@Html.AdminResource("IncludeOnInvoiceAsSeller_Help")</span>
                        @Html.Hidden("IncludeOnInvoice", Model.IncludeOnInvoice)
                        @Html.Hidden("IncludeInSalesReport", Model.IncludeInSalesReport)
                    </td>
                </tr>
                <tr>
                    <td>@Html.AdminResource("IncludeOnInvoiceAsBuyer")</td>
                    <td>
                        @Html.CheckBox("IncludeOnInvoiceAsBuyer", Model.IncludeOnInvoiceAsBuyer)
                        <span class="help-block">@Html.AdminResource("IncludeOnInvoiceAsBuyer_Help")</span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.AdminResource("IncludeInSalesReportAsSeller")</td>
                    <td>
                        @Html.CheckBox("IncludeInSalesReportAsSeller", Model.IncludeInSalesReportAsSeller)
                        <span class="help-block">@Html.AdminResource("IncludeInSalesReportAsSeller_Help")</span>
                    </td>
                </tr>
                <tr>
                    <td>@Html.AdminResource("IncludeInSalesReportAsBuyer")</td>
                    <td>
                        @Html.CheckBox("IncludeInSalesReportAsBuyer", Model.IncludeInSalesReportAsBuyer)
                        <span class="help-block">@Html.AdminResource("IncludeInSalesReportAsBuyer_Help")</span>
                    </td>
                </tr>
            }
            else
            {
                @Html.Hidden("IncludeOnInvoice", Model.IncludeOnInvoice)
                @Html.Hidden("IncludeOnInvoiceAsSeller", Model.IncludeOnInvoiceAsSeller)
                @Html.Hidden("IncludeOnInvoiceAsBuyer", Model.IncludeOnInvoiceAsBuyer)
                @Html.Hidden("IncludeInSalesReport", Model.IncludeInSalesReport)
                @Html.Hidden("IncludeInSalesReportAsSeller", Model.IncludeInSalesReportAsSeller)
                @Html.Hidden("IncludeInSalesReportAsBuyer", Model.IncludeInSalesReportAsBuyer)
            }

            @Html.Hidden("GroupName", Model.Group)
            <tr>
                <td>@Html.AdminResource("DisplayOrder")</td>
                <td>@Html.TextBox("DisplayOrder", Model.DisplayOrder, new { @class = "form-control input-sm" })</td>
            </tr>
            <tr>
                <td>@Html.AdminResource("Visibility")</td>
                <td>
                    @Html.DropDownList("Visibility", null, new { @class = "form-control input-sm" })
                    <span class="help-block">@Html.AdminResource("Visibility_Help")</span>
                </td>
            </tr>
            <tr>
                <td>@Html.AdminResource("Mutability")</td>
                <td>
                    @Html.DropDownList("Mutability", null, new { @class = "form-control input-sm" })
                    <span class="help-block">@Html.AdminResource("Mutability_Help")</span>
                </td>
            </tr>
        </table>

        <script type="text/javascript">
            $(document).ready(function () {

                //[Cancel] button click
                $("#CancelButton").click(function () {
                    var targetUrl = '@returnUrl.ToJavascriptSafeString()';
                    var confirmMessage = // "All changes will be lost lost.\nAre you sure?";
                        '@Html.AdminResourceString("CancelChangesWarning1").ToJavascriptSafeString()\n'
                            + '@Html.AdminResourceString("CancelChangesWarning2").ToJavascriptSafeString()';
                    if (confirm(confirmMessage)) document.location = $.htmlDecode(targetUrl);
                    return false;
                });

                //[Delete] button click
                $("#DeleteButton").click(function () {
                    var targetUrl = '@Html.GetActionUrl(MVC.DeleteFieldAction, MVC.AdminController, new {FieldID = Model.ID, GroupName = Model.Group, returnUrl}).ToMvcHtmlString().ToJavascriptSafeString()';
                    var confirmMessage =
                        '@Html.AdminResourceString("DeleteWarning_Really").ToJavascriptSafeString()\n'
                            + '@Html.AdminResourceString("DeleteWarning_CantBeUndone").ToJavascriptSafeString()';
                    if (confirm(confirmMessage)) document.location = $.htmlDecode(targetUrl);
                    return false;
                });
            });
        </script>
        <div class="panel-body text-right">
            <input type="submit" class="btn btn-success" id="Save" name="Save" value="@Html.AdminResource("Save")" />

            @if (protectedFields.Any(s => s == Model.Name))
            {
                <button class="btn btn-default" id="DeleteButton" disabled>@Html.AdminResource("Delete")</button>
            }
            else
            {
                <button class="btn btn-default" id="DeleteButton">@Html.AdminResource("Delete")</button>
            }

            <button class="btn btn-link" id="CancelButton">@Html.AdminResource("Cancel")</button>
        </div>
    }
</div>
@if (Model.Type == CustomFieldType.Enum)
{
    using (Html.BeginForm("AddEnumeration", "Admin", new { id = Model.ID }, FormMethod.Post, new { id = "add_enumeration" }))
    {
        @Html.Hidden(Fields.ReturnUrl, returnUrl)
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.AdminResource("ManageFieldEnumeration")
                    </div>
                    <table class="table">
                        <tr>
                            <td>@Html.AdminResource("Name")</td>
                            <td>
                                @Html.TextBox("Name", string.Empty, new { @class = "form-control input-sm" })
                                <span class="help-block">@Html.AdminResource("EnumOptionName_Help")</span>
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.AdminResource("Value")</td>
                            <td>
                                @Html.TextBox("Value", string.Empty, new { @class = "form-control input-sm" })
                                <span class="help-block">@Html.AdminResource("EnumOptionValue_Help")</span>
                            </td>
                        </tr>
                    </table>
                    @Html.Hidden("Enabled", true)
                    <div class="panel-body text-right">
                        <input type="submit" class="btn btn-success" id="Submit1" name="Add" value="@Html.AdminResource("AddOption")" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">@Html.AdminResource("CurrentOptions")</div>

                    <table class="table">
                        <tr>
                            <th width="25%">@Html.AdminResource("ID")</th>
                            <th width="25%">@Html.AdminResource("Name")</th>
                            <th width="25%">@Html.AdminResource("Value")</th>
                            <th width="25%"></th>
                        </tr>
                        @foreach (ListItem item in Model.Enumeration)
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td>@Html.CustomFieldResource(item.Name)</td>
                                <td>@Html.CustomFieldResource(item.Value)</td>
                                <td>
                                    @Html.ActionLink(HttpUtility.HtmlDecode("&times;"), "DeleteEnumeration", 
                                        new { id = Model.ID, EnumerationID = item.ID, returnUrl }, 
                                        new { @class = "close", alt = Html.AdminResource("Delete"), title = Html.AdminResource("Delete") })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#add_enumeration input[name='Name']").keyup(function () {
                    $("#add_enumeration input[name='Value']").val($(this).val());
                });
            });
        </script>
    }
}
