﻿@model ImportData
@using RainWorx.FrameWorx.MVC.Models.CSV

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewBag.PageName = Html.AdminResource(SiteClient.EnableEvents ? "LineageString_ImportCSV_Events" : "LineageString_ImportCSV");
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#CsvImportForm").submit(function () {
            if (!validateEmail($("input[name='resultsEmail']").val())) {
                alert('@(Html.AdminResourceString("xAppearsToBeInvalidPleaseEnterCorrectEmail", Html.AdminResourceString("ReportEmailAddress")))');
                return false;
            }
            return true;
        })
    });
    function validateEmail(email) {
        var re = @(@"/^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i");
        return re.test(email);
    }
</script>

<form action="admin/ImportCSV" method="post" enctype="multipart/form-data" id="CsvImportForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label">@Html.AdminResource("Resources") </label> &nbsp;&nbsp;
        <div class="col-xs-5 col-sm-3">
            <button class="btn btn-default btn-sm pull-left" type="button" data-toggle="modal" data-target="#CSVHelpModal">@Html.AdminResource("CSVImportHelp")</button>
        </div>
        <div class="col-xs-5 col-sm-3">
            @Html.ButtonLink(Html.AdminResource("DownloadBlankCSVTemplate"), "GetCSVImportTemplate", null, null, new { @class = "btn btn-default btn-sm pull-left" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label">
            @Html.AdminResource("ValidateDataOnly")
        </label>
        <div class="col-xs-10 col-sm-6">
            @Html.CheckBox("validate", true)
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label">
            @Html.AdminResource("ImportAsDrafts")
        </label>
        <div class="col-xs-10 col-sm-6">
            @Html.CheckBox("drafts", true)
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label">
            @Html.AdminResource("ReportEmailAddress")
        </label>
        <div class="col-xs-10 col-sm-6">
            <input type="text" name="resultsEmail" id="Text1" value="@ViewData["ResultsEmail"]" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-12 col-sm-4 control-label">
            @Html.AdminResource("DataFile")
        </label>
        <div class="col-xs-10 col-sm-6">
            <input type="file" name="file" id="file" class="form-control input-sm" />
        </div>
        <div class="col-xs-2">
            <input class="btn btn-info btn-sm" type="submit" name="submit" value="@Html.AdminResource("UploadCSV")" />
        </div>
    </div>
</form>

@if (Model != null)
{
    <b>@Html.AdminResource("NoActionHasBeenTaken")</b>
    <p>@Html.AdminResource("CsvStatus"): @Model.Status, Message: @Model.Disposition</p>
    foreach (ImportListing listing in Model.ListingData.Where(ld => ld.Status != ImportListingStatus.Success))
    {
        <p>@Html.AdminResource("RowStatus"): @listing.Status, Line: @listing.Line</p>
        <ul>
            @foreach (string disposition in listing.Disposition)
            {
                <li>
                    @disposition
                </li>
            }
        </ul>
    }
}
<div class="group">
    @Html.AdminResource("CSVHelp")
</div>


<div class="modal fade" id="CSVHelpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <iframe src="Admin/ImportCSVHelp" style="height: 100%; width: 100%;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>