﻿@model Listing

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" role="menu">
        @if (SiteClient.UserMessagingEnabled)
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("Contact"), MVC.SendListingMessageAction, MVC.AccountController,
                    new
                    {
                        receiver = Model.OwnerUserName,
                        template = Templates.AskListingQuestion,
                        listingID = Model.ID,
                        returnUrl = Model.GetDetailUrl()
                    }, null)
            </li>
        }
        @if (Model.Context.Watched)
        {
            <li><a class="alert-success">@Html.GlobalResource("CurrentlyWatching")</a></li>
        }
        else
        {
            <li>@Html.ActionLink(Html.GlobalResource("WatchItem"), MVC.AddWatchAction, new { id = Model.ID }, null)</li>
        }
    </ul>
</div>
