﻿@model Listing
@{ string returnUrl = Request.Url.PathAndQuery; }
<script type="text/javascript">
    $(document).ready(function () {
        $(".awe-end-early-link").click(function () {
            var jsEndEarlyConfirmMsg = //"Really end this listing early?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("EndEarlyWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("EndEarlyWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("EndEarlyConfirmationTitle").ToJavascriptSafeString()',
                message: jsEndEarlyConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("EndEarly").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });
        $(".awe-delete-listing-link").click(function () {
            var jsDeleteConfirmMsg = //"Really delete this listing?\nTHIS ACTION CANNOT BE UNDONE"
                '@Html.GlobalResourceString("DeleteWarning_Really").ToJavascriptSafeString()' + '\n'
                    + '@Html.GlobalResourceString("DeleteWarning_CantBeUndone").ToJavascriptSafeString()';
            var targetHref = $(this).attr("href");
            BootstrapDialog.show({
                type: 'type-danger',
                title: '<span class="glyphicon glyphicon-warning-sign"></span>&nbsp; @Html.GlobalResourceString("DeleteConfirmationTitle").ToJavascriptSafeString()',
                message: jsDeleteConfirmMsg,
                buttons: [
                    {
                        label: '@Html.GlobalResourceString("Delete").ToJavascriptSafeString()',
                        cssClass: 'btn-danger',
                        action: function () {
                            window.location = $.htmlDecode(targetHref);
                        }
                    }, {
                        label: '@Html.GlobalResourceString("Cancel").ToJavascriptSafeString()',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }
                ]
            });
            return false;
        });
    });

</script>

<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" role="menu">
        @if (Html.IsEditable(Model))
        {
            <li> @Html.ActionLink(Html.GlobalResource("Edit"), MVC.EditAction, new { id = Model.ID })</li>
        }
        <li>
            @Html.ActionLink(Html.GlobalResource("EndEarly"), MVC.EndEarlyAction, MVC.ListingController,
                new { id = Model.ID }, new { @class = "awe-end-early-link" })
        </li>
        <li>
            @Html.ActionLink(Html.GlobalResource("ListSimilar"), MVC.CreateListingPage1Action, MVC.ListingController,
                new { SimilarListingID = Model.ID }, null)
        </li>
        @if (Context.User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink(Html.GlobalResource("Delete"), MVC.DeleteAction, MVC.ListingController,
                            new { id = Model.ID }, new { @class = "awe-delete-listing-link" })
            </li>
        }
        @if (SiteClient.FeedbackEnabled)
        {
            List<LineItem> feedbackList = AccountingClient.GetLineItemsNeedingFeedbackFor(Context.User.Identity.Name, Model.ID, Html.FBOUserName());
            <li>
                @if (feedbackList.Count > 1)
                {
                    Dictionary<string, string> fbButtonRendered = new Dictionary<string, string>();
                    foreach (LineItem sale in feedbackList)
                    {
                        if (!fbButtonRendered.ContainsKey(sale.Payer.UserName))
                        {
                            fbButtonRendered.Add(sale.Payer.UserName, "rendered");
                            @Html.ActionLink(Html.GlobalResource("SubmitFeedback") + ": " + sale.Payer.UserName, MVC.SubmitFeedbackAction, MVC.AccountController,
                                            new { ListingID = Model.ID, Sender = Html.FBOUserName(), Receiver = sale.Payer.UserName }, null)
                        }
                    }
                }
            </li>
        }
        @if (Model.Status == ListingStatuses.Successful || (Model.Type.Name == ListingTypes.FixedPrice && Model.AcceptedListingActionCount() > 0))
        {
            //var invoices = AccountingClient.GetInvoicesBySeller(User.Identity.Name, Model.Owner.UserName, "All", Model.ID.ToString(), "ListingID", 0, 0, "CreatedDTTM", true);
            foreach (var invoice in (List<Invoice>)ViewData["AllInvoices"])
            {
                <li>
                    @Html.ActionLink(Html.GlobalResourceString("ViewInvoiceToX", invoice.Payer.UserName), 
                        MVC.InvoiceDetailAction, MVC.AccountController, new { @id = invoice.ID, returnUrl }, null)
                </li>
            }
        }
    </ul>
</div>
