﻿@model Listing
@{ string returnUrl = Request.Url.PathAndQuery; }
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default btn-xs btn-block dropdown-toggle" data-toggle="dropdown">
        &nbsp;&nbsp; @Html.GlobalResource("ListingOptions_small") &nbsp;
        <span class="caret"></span>&nbsp;&nbsp;
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            @Html.ActionLink(Html.GlobalResource("ListSimilar"), MVC.CreateListingPage1Action, MVC.ListingController,
                new { SimilarListingID = Model.ID }, null)
        </li>
        @if (SiteClient.FeedbackEnabled)
        {
            List<LineItem> feedbackList = AccountingClient.GetLineItemsNeedingFeedbackFor(Context.User.Identity.Name, Model.ID, Html.FBOUserName());
            <li>
                @if (feedbackList.Count > 1)
                {

                    Dictionary<string, string> fbButtonRendered = new Dictionary<string, string>();
                    foreach (LineItem sale in feedbackList)
                    {
                        if (!fbButtonRendered.ContainsKey(sale.Payer.UserName))
                        {
                            fbButtonRendered.Add(sale.Payer.UserName, "rendered");
                            @Html.ActionLink(Html.GlobalResource("SubmitFeedback") + ": " + sale.Payer.UserName, MVC.SubmitFeedbackAction, MVC.AccountController, 
                                        new { ListingID = Model.ID, Sender = Html.FBOUserName(), Receiver = sale.Payer.UserName }, null)
                        }
                    }

                }
                else
                {
                    Dictionary<string, string> fbButtonRendered = new Dictionary<string, string>();
                    foreach (LineItem sale in feedbackList)
                    {
                        if (!fbButtonRendered.ContainsKey(sale.Payer.UserName))
                        {
                            fbButtonRendered.Add(sale.Payer.UserName, "rendered");
                            @Html.ActionLink(Html.GlobalResource("SubmitFeedback") + ": " + sale.Payer.UserName, MVC.SubmitFeedbackAction, MVC.AccountController, 
                                new { ListingID = Model.ID, Sender = Html.FBOUserName(), Receiver = sale.Payer.UserName }, null)
                        }
                    }
                }
            </li>
        }
        @if (Model.Status == ListingStatuses.Successful || (Model.Type.Name == ListingTypes.FixedPrice && Model.AcceptedListingActionCount() > 0))
        {
            //var invoices = AccountingClient.GetInvoicesBySeller(User.Identity.Name, Model.Owner.UserName, "All", Model.ID.ToString(), "ListingID", 0, 0, "CreatedDTTM", true);
            foreach (var invoice in (List<Invoice>)ViewData["AllInvoices"])
            {
                <li>
                    @Html.ActionLink(Html.GlobalResourceString("ViewInvoiceToX", invoice.Payer.UserName),
                        MVC.InvoiceDetailAction, MVC.AccountController, new { @id = invoice.ID, returnUrl }, null)
                </li>
            }
        }
    </ul>
</div>
