﻿@model Listing
@{ string returnUrl = Request.Url.PathAndQuery; }
<script type="text/javascript">
    $(document).ready(function () {
        //global reasoncodes
        contextMessageDictionary["Failure"] = "@Html.GlobalResource("Failure").ToJavascriptSafeString()";
        contextMessageDictionary["ListingNotExist"] = "@Html.GlobalResource("ListingNotExist").ToJavascriptSafeString()";
        contextMessageDictionary["ListingNotActive"] = "@Html.GlobalResource("ListingNotActive").ToJavascriptSafeString()";
        contextMessageDictionary["ListerPerformingAction"] = "@Html.GlobalResource("ListerPerformingAction").ToJavascriptSafeString()";
        contextMessageDictionary["Success"] = "@Html.GlobalResource("Success").ToJavascriptSafeString()";
        contextMessageDictionary["BuyNowNotAvailable"] = "@Html.GlobalResource("BuyNowNotAvailable").ToJavascriptSafeString()";
        contextMessageDictionary["ProxyBeatingNewBid"] = "@Html.GlobalResource("ProxyBeatingNewBid").ToJavascriptSafeString()";
        contextMessageDictionary["CantLowerProxyBid"] = "@Html.GlobalResource("CantLowerProxyBid").ToJavascriptSafeString()";
        contextMessageDictionary["BidAmountTooLow"] = "@Html.GlobalResource("BidAmountTooLow").ToJavascriptSafeString()";
        contextMessageDictionary["ListingChangedDuringProcessing"] = "@Html.GlobalResource("ListingChangedDuringProcessing").ToJavascriptSafeString()";
        contextMessageDictionary["QuantityTooHigh"] = "@Html.GlobalResource("QuantityTooHigh").ToJavascriptSafeString()";
        contextMessageDictionary["LicenceInvalid"] = "@Html.ValidationResource("LicenceInvalid").ToJavascriptSafeString()";

        @if (User.Identity.IsAuthenticated && SiteClient.BoolSetting(SiteProperties.AsyncActionProcessing))
                    {
                        <text>
        $(document).on("SignalR_Started", function () {
            RegisterUserName("@Html.FBOUserName().ToJavascriptSafeString()");
        });
        </text>
                    }

        $(document).on("SignalR_UpdateListingAction", function (event, data) {
            //if we are the seller, clear the status which is potentially invalidated
            if ("@Model.OwnerUserName" == "@Html.FBOUserName()") {
                $(".ContextualStatus").each(function () {
                    if ($(this).is(":visible")) {
                        $(this).fadeTo(2000, 0, function () {
                            $(this).slideUp(500);
                        });
                    }
                });
            }
        });

        //show the latest Context message for this acting user
        $(document).on("SignalR_ListingActionResponse", function (event, data) {
            //console.log("SignalR_ListingActionResponse DATA:", data);
            if ($.inArray(data.Action_ListingID, interestingListings) >= 0) {
                var message = "";
                var systemMessage = "";
                var cssClass = "";
                if (data.Context_IsFilled) {
                    //Context is not null, prepare Context message
                    if (!data.Context_Disregard) {
                        message = contextMessageDictionary[data.Context_Status].format(data.Context_Parameters);
                        switch (data.Context_Disposition) {
                            case 0:
                                cssClass = "alert alert-success";
                                break;
                            case 1:
                                cssClass = "alert alert-warning";
                                break;
                            case 2:
                                cssClass = "alert alert-danger";
                                break;
                        }
                        //if Context message wasn't already visible, show it
                        $(".ContextualStatus").each(function () {
                            $(this).html("<div class='" + cssClass + "'>" + message + "</div>");
                            if (!$(this).is(":visible")) {
                                $(this).fadeTo(1000, 1, function () {
                                    $(this).slideDown(500);
                                });
                            }
                        });
                    }
                    if (data.Accepted) {
                        //prepare success system message
                        systemMessage = "<div class='alert alert-success'><a class='close' onclick='$(this).parents(\"div\").first().slideUp();'>×</a>" + contextMessageDictionary["ActionSuccess"] + "</div>";
                        if (!$(".awe-rt-ListingActionMessage").is(":visible") || $(".awe-rt-ListingActionMessage").html() == "") {
                            $(".awe-rt-ListingActionMessage").hide();
                            $(".awe-rt-ListingActionMessage").html(systemMessage);
                            $(".awe-rt-ListingActionMessage").slideDown();
                        } else {
                            $(".awe-rt-ListingActionMessage").fadeOut(200, function () {
                                $(this).html(systemMessage);
                                $(this).fadeIn(200);
                            });
                        }
                        //render checkout button if a lineitem was returned
                        if (data.LineItemID) {
                            var checkoutUrl = '@SiteClient.TextSetting(SiteProperties.SecureURL)/Account/Checkout?lineitemid=' + data.LineItemID;
                            checkoutUrl += '&returnUrl=@(Server.UrlEncode(returnUrl))';
                            var checkoutHtml =
                                        '<div class="detail__checkout">'
                                + '<a href="' + checkoutUrl + '" class="btn__detail__checkout detail__option-menu__link">'
                                + '<span class="detail__option-menu__icon material-icons">payment</span>'
                                + '<span class="detail__option-menu__label">' + @Html.GlobalResource("Checkout") + '</span>'
                                + '</a>'
                                + '</div>';
                            $(".detail__context-menu").prepend(checkoutHtml).show();

                        }
                    } else {
                        //ReasonString is populated, prepare a Negative System message
                        if (contextMessageDictionary[data.ReasonString]) {
                            systemMessage = "<div class='alert alert-danger'><a class='close' onclick='$(this).parents(\"div\").first().slideUp();'>×</a>" + contextMessageDictionary[data.ReasonString] + "</div>";
                        } else {
                            systemMessage = "<div class='alert alert-danger'><a class='close' onclick='$(this).parents(\"div\").first().slideUp();'>×</a>" + data.ReasonString + "</div>";
                        }
                        if (!$(".awe-rt-ListingActionMessage").is(":visible") || $(".awe-rt-ListingActionMessage").html() == "") {
                            $(".awe-rt-ListingActionMessage").hide();
                            $(".awe-rt-ListingActionMessage").html(systemMessage);
                            $(".awe-rt-ListingActionMessage").slideDown();
                        } else {
                            $(".awe-rt-ListingActionMessage").fadeOut(200, function () {
                                $(this).html(systemMessage);
                                $(this).fadeIn(200);
                            });
                        }
                    }
                } else {
                    //Context is null, but ReasonString is populated, prepare a Negative System message
                    if (contextMessageDictionary[data.ReasonString]) {
                        systemMessage = "<div class='alert alert-danger'><a class='close' onclick='$(this).parents(\"div\").first().slideUp();'>×</a>" + contextMessageDictionary[data.ReasonString] + "</div>";
                    } else {
                        systemMessage = "<div class='alert alert-danger'><a class='close' onclick='$(this).parents(\"div\").first().slideUp();'>×</a>" + data.ReasonString + "</div>";
                    }
                    if (!$(".awe-rt-ListingActionMessage").is(":visible") || $(".awe-rt-ListingActionMessage").html() == "") {
                        $(".awe-rt-ListingActionMessage").hide();
                        $(".awe-rt-ListingActionMessage").html(systemMessage);
                        $(".awe-rt-ListingActionMessage").slideDown();
                    } else {
                        $(".awe-rt-ListingActionMessage").fadeOut(200, function () {
                            $(this).html(systemMessage);
                            $(this).fadeIn(200);
                        });
                    }
                }
            }
        });

        //render checkout button if the listing ends successfully and the winner is viewing
        $(document).on("SignalR_UpdateListingStatus", function (event, data) {
            if (data.Status == "@ListingStatuses.Successful" && data.LineItemID && data.LineItemPayerUN == "@Html.FBOUserName()") {
                var checkoutUrl = '@SiteClient.TextSetting(SiteProperties.SecureURL)/Account/Checkout?lineitemid=' + data.LineItemID;
                checkoutUrl += '&returnUrl=@(Server.UrlEncode(returnUrl))';
                var checkoutHtml =
                             '<div class="detail__checkout">'
                                + '<a href="' + checkoutUrl + '" class="btn__detail__checkout detail__option-menu__link">'
                                + '<span class="detail__option-menu__icon material-icons">payment</span>'
                                + '<span class="detail__option-menu__label">' + @Html.GlobalResource("Checkout") + '</span>'
                                + '</a>'
                                + '</div>';
                $(".detail__context-menu").prepend(checkoutHtml).show();
            }
        });

    });
</script>
@{
    bool makeOfferAvailable = false;
}
@if (Model.Properties.Any(lp => lp.Field.Name == Fields.MakeOfferAvailable && bool.TryParse(lp.Value, out makeOfferAvailable) && makeOfferAvailable))
{
    @Html.Partial("MakeOfferForm")
}
<div class="row">
    <div class="col-xs-12 col-md-7 detail__title__wrapper">
        <span class="detail__status-label awe-rt-ColoredStatus">
            @Html.Partial("Listing_StatusLabel")
        </span>
        <h3 class="detail__title">@Model.Title <img src="Content/Images/exclamation.png" class="awe-hidden awe-refresh-alert" onclick="location.reload(true);" title="@Html.GlobalResource("RefreshAlert")" /></h3>
        @if (Model.Subtitle.Length > 0)
        {
            <h4 class="detail__subtitle">@Model.Subtitle</h4>
        }
        @Html.Partial("OptionsMenu")
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="panel panel-default">
            <div class="detail__context-wrapper ContextualStatus" id="ContextualStatus1">
                @Html.Partial("ContextualStatus")
            </div>
            @Html.Partial("ContextMenu")

            @{
                IEnumerable<Media> medias = Model.Media.Where(m => m.Variations.ContainsKey(SiteClient.ThumbnailType));
                Media image = Model.Media.Where(m => m.Variations.ContainsKey("FullSize")).FirstOrDefault();
            }
            @{IEnumerable<Media> nonImageMedia = Model.Media.Where(m => !m.Variations.ContainsKey(SiteClient.ThumbnailType));}

            @if (image != null)
            {
                @Html.Partial(image.Type + "_FullSize", image)
                if (medias.Count() <= 1)
                {
                    @Html.Partial(image.Type + "_FullSizeLightbox", image)
                }
            }
            else
            {
                @Html.Partial("NoPhoto")
            }

            @if ((medias.Count() > 1) || (nonImageMedia.Where(m => m.Type.Contains("YouTube")).Count() > 0))
            {
                <div id="ListingImageThumbsCarousel" class="everslider">
                    <ul class="es-slides">
                        @if (nonImageMedia.Count() > 0)
                        {
                            foreach (Media media in nonImageMedia.Where(m => m.Type.Contains("YouTube")))
                            {

                                <li style="width: 100px; height: 100px; margin-right: 10px;">
                                    <a href="#YouTube-modal" data-toggle="modal" data-target="#YouTube-modal" title="@Html.GlobalResource("WatchVideo"): @Model.Title">
                                        <img src="~/Content/Images/YouTube-icon-full_color.png" />
                                    </a>
                                </li>
                            }
                        }
                        @foreach (Media media in medias)
                        {
                            @Html.Partial(media.Type + "_" + SiteClient.ThumbnailType + "_for_ListingDetail", media)
                        }
                    </ul>
                </div>
            }

            @if (nonImageMedia.Count() > 0)
            {
                if (nonImageMedia.Where(m => !m.Type.Contains("YouTube")).Count() > 0)
                {
                    <div class="detail__documents">
                        @Html.GlobalResource("AdditionalDocuments")
                    </div>
                }
                foreach (Media media in nonImageMedia.Where(m => !m.Type.Contains("YouTube")))
                {
                    @Html.Partial(media.Type + "_" + media.DefaultVariationName, media)<br />
                }
            }
            @Html.GetSiteContent("Literal_SocialNetworking")
        </div>
    </div>
    <div class="col-xs-12 col-md-7">
        <div class="awe-rt-ListingActionMessage"></div>
        @if (Model.Status == ListingStatuses.Active)
        {
            @Html.Partial("Action_BuyBox")
        }
        @Html.Partial(Model.Type.Name + "Details", Model)
    </div>
</div>
@{
            List<CustomProperty> properties = Model.Properties.Where(p => p.Field.Group.Equals("Item") &&
                !string.IsNullOrEmpty(p.Value)).OrderBy(cp => cp.Field.DisplayOrder).ToList();
}
<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="panel panel-default detail__data-panel">
            <div class="panel-heading">
                @Html.GlobalResource("Details")
            </div>

            <div class="row">
                @if (properties.Count > 0)
                {
                    <div class="col-xs-12">
                        <ul class="detail__custom-fields list-unstyled">
                            @foreach (CustomProperty property in properties)
                                {
                                <li>
                                    <span class="detail__field-name">@Html.CustomFieldResource(property.Field.Name)</span>
                                    <span class="detail__field-value">
                                        @switch (property.Field.Type)
                                        {
                                            case CustomFieldType.Boolean:
                                                @(bool.Parse(property.Value) ? Html.GlobalResource("Yes") : Html.GlobalResource("No"));
                                                break;
                                            case CustomFieldType.Decimal:
                                                @(decimal.Parse(property.Value).ToString(Formats.Decimal, Html.GetCurrentCultureInfo()));
                                                break;
                                            case CustomFieldType.Int:
                                                @(int.Parse(property.Value).ToString(Html.GetCurrentCultureInfo()));
                                                break;
                                            case CustomFieldType.DateTime:
                                                @(DateTime.Parse(property.Value).ToString("D", Html.GetCurrentCultureInfo()));
                                                break;
                                            case CustomFieldType.Enum:
                                                @Html.CustomFieldResource(property.Value);
                                                break;
                                            default:
                                                @property.Value;
                                                break;
                                        }
                                    </span>
                                    @{MvcHtmlString helpText = Html.CustomFieldResourceOrDefault(string.Concat(property.Field.Name, "_Help"));}
                                    @if (helpText != null)
                                    {
                                        <span class="default__field-help">
                                            @Html.ToolTipButton(property.Field.Name + "_Help")
                                        </span>
                                    }
                                    @if (helpText != null)
                                    {
                                        <div>
                                            @Html.ToolTipContent(property.Field.Name + "_Help", helpText)
                                        </div>
                                    }
                                </li>
                                        }

                        </ul>
                        <hr />
                    </div>
                                        }
                <div class="col-xs-12">
                    @Html.Partial("ListingDetail_GeneralData")
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        <div class="panel panel-default detail__description-panel">
            <div class="panel-heading">
                @Html.GlobalResource("Description")
            </div>
            <div class="panel-body description">
                @MvcHtmlString.Create(Model.Description) @*note: this string is expected to have safe html code*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("PublicQandA")
    </div>
</div>

@if (nonImageMedia.Count() > 0)
{
    foreach (Media media in nonImageMedia.Where(m => m.Type.Contains("YouTube")))
    {

        @Html.Partial(media.Type + "_" + media.DefaultVariationName, media)
    }
}